<div class="promo-bg">
  <div class="promo-wrapper wrapper">
    <div class="promo-block">
      <div class="promo-block__img"><img src="img/promo1.png" alt="promo img"></div>
      <div class="promo-block__desc">
        <h2 class="title_md">ГЛОСАВ осуществляет поставку мониторингового
          оборудования для филиала ОАО «Федеральная
          сетевая компания» МЭС Центра.</h2>
        <p>Компания ГЛОСАВ признана победителем тендера на поставку и установку систем мониторинга транспорта с
          использованием оборудования ГЛОНАСС/GPS для филиала ОАО «Федеральная сетевая компания»(ФСК ЕЭС)
          «Магистральные
          электрические сети Центра»(МЭС Центра). Мониторинговое оборудование будет установлено на 890 транспортных
          средств в филиалах(ПМЭС) входящих В зону ответственности МЭС Центра: Валдайское, Верхне-Донское,
          Волго-Донское,
          Волго-Окское, Вологодское, Московское, Приокское и Черноземное. </p>
      </div>
    </div>
  </div>
  <div class="promo-wrapper wrapper">
  <div class="promo-block">
        <div class="promo-block__img"><img src="img/promo2.png" alt="promo img"></div>
    <div class="promo-block__desc">
      <h2 class="title_md">ГЛОСАВ осуществляет поставку мониторингового
        оборудования для филиала ОАО «Федеральная
        сетевая компания» МЭС Центра.</h2>
      <p>Компания ГЛОСАВ признана победителем тендера на поставку и установку систем мониторинга транспорта с
        использованием оборудования ГЛОНАСС/GPS для филиала ОАО «Федеральная сетевая компания»(ФСК ЕЭС)
        «Магистральные
        электрические сети Центра»(МЭС Центра). Мониторинговое оборудование будет установлено на 890 транспортных
        средств в филиалах(ПМЭС) входящих В зону ответственности МЭС Центра: Валдайское, Верхне-Донское,
        Волго-Донское,
        Волго-Окское, Вологодское, Московское, Приокское и Черноземное. </p>
    </div>
  </div>
  </div>
  <div class="promo-wrapper wrapper">
  <div class="promo-block">
    <div class="promo-block__img"><img src="img/promo3.png" alt="promo img"></div>
    <div class="promo-block__desc">
      <h2 class="title_md">«МЭС Центра» под максимальной защитой</h2>
      <p>Как уточнил руководитель проекта (со стороны ГЛОСАВ) Юрий Никишин: «Ранее нами уже сообщалось, что «МЭС
        Центра» - дочерняя компания ОАО «ФСК ЕЭС», выбрала ГЛОСАВ в качестве поставщика навигационных комплексов
        ГЛОНАСС/GPS, дополнительного оборудования и специализированного программного обеспечения, подведя результаты
        конкурса. Сейчас мы закончили поставку и монтаж 892 комплектов навигационного и специализированного
        дополнительного оборудования, которое позволило нашему Клиенту защитить свои интересы, обеспечить контроль за
        автомобилями и специальной техникой предприятий межрегиональных электрических сетей «МЭС Центра».</p>
    </div>
  </div>
  </div>

  <div class="promo-video">
      <img class="promo-video__img" src="img/promo-video.png" alt="video">
  </div>
  <div class="promo-wrapper wrapper">
  <div class="promo-block">
    <div class="promo-block__img"><img src="img/promo4.png" alt="promo img"></div>
    <div class="promo-block__desc">
      <h2 class="title_md">ГЛОСАВ осуществляет поставку мониторингового
        оборудования для филиала ОАО «Федеральная
        сетевая компания» МЭС Центра.</h2>
      <p>Компания ГЛОСАВ признана победителем тендера на поставку и установку систем мониторинга транспорта с
        использованием оборудования ГЛОНАСС/GPS для филиала ОАО «Федеральная сетевая компания»(ФСК ЕЭС)
        «Магистральные
        электрические сети Центра»(МЭС Центра). Мониторинговое оборудование будет установлено на 890 транспортных
        средств в филиалах(ПМЭС) входящих В зону ответственности МЭС Центра: Валдайское, Верхне-Донское,
        Волго-Донское,
        Волго-Окское, Вологодское, Московское, Приокское и Черноземное. </p>
    </div>
  </div>
  </div>
  <div class="promo-wrapper wrapper">
  <div class="promo-block">
    <div class="promo-block__img"><img src="img/promo5.png" alt="promo img"></div>
    <div class="promo-block__desc">
      <h2 class="title_md">"ГЛОСАВ" стал официальным партнером
        компании Huawei</h2>
      <p>Компания ГЛОСАВ признана победителем тендера на поставку и установку систем мониторинга транспорта с
        использованием оборудования ГЛОНАСС/GPS для филиала ОАО «Федеральная сетевая компания»(ФСК ЕЭС)
        «Магистральные
        электрические сети Центра»(МЭС Центра). Мониторинговое оборудование будет установлено на 890 транспортных
        средств в филиалах(ПМЭС) входящих В зону ответственности МЭС Центра: Валдайское, Верхне-Донское,
        Волго-Донское,
        Волго-Окское, Вологодское, Московское, Приокское и Черноземное. </p>
    </div>
  </div>
  </div>
</div>
</div>
</div>
