<div class="products-wrapper">
  <div class="products-list">
    <div class="content-wrapper wrapper">
      <div class="products-block">
        <div class="products-block__img">
          <img src="img/si1.png" alt="product" />
        </div>
        <div class="products-block-desc">
          <h2 class="products-block-desc__title title_md">Бортовой блок</h2>
          <p class="products-block-desc__text">
            Основные функциональные узлы контроллера (GSM-терминал, GPS-
            приемник и т. п.) выполнены в виде отдельных модулей, которые
            устанавливаются на основной плате и легко заменяются. Такая
            компоновка дает ряд преимуществ при производстве и обслуживании
            контроллеров.
          </p>
          <button class="products-block-desc__btn button_border-blue">Подробнее</button>
        </div>
      </div>
    </div>
  </div>
  <div class="products-list">
    <div class="content-wrapper wrapper">
      <div class="products-block">
        <div class="products-block__img">
          <img src="img/si1.png" alt="product" />
        </div>
        <div class="products-block-desc">
          <h2 class="products-block-desc__title title_md">Бортовой блок</h2>
          <p class="products-block-desc__text">
            Основные функциональные узлы контроллера (GSM-терминал, GPS-
            приемник и т. п.) выполнены в виде отдельных модулей, которые
            устанавливаются на основной плате и легко заменяются. Такая
            компоновка дает ряд преимуществ при производстве и обслуживании
            контроллеров.
          </p>
          <button class="products-block-desc__btn button_border-blue">Подробнее</button>
        </div>
      </div>
    </div>
  </div>
  <div class="products-list">
    <div class="content-wrapper wrapper">
      <div class="products-block">
        <div class="products-block__img">
          <img src="img/si1.png" alt="product" />
        </div>
        <div class="products-block-desc">
          <h2 class="products-block-desc__title title_md">Бортовой блок</h2>
          <p class="products-block-desc__text">
            Основные функциональные узлы контроллера (GSM-терминал, GPS-
            приемник и т. п.) выполнены в виде отдельных модулей, которые
            устанавливаются на основной плате и легко заменяются. Такая
            компоновка дает ряд преимуществ при производстве и обслуживании
            контроллеров.
          </p>
          <button class="products-block-desc__btn button_border-blue">Подробнее</button>
        </div>
      </div>
    </div>
  </div>
  <div class="products-list">
    <div class="content-wrapper wrapper">
      <div class="products-block">
        <div class="products-block__img">
          <img src="img/si1.png" alt="product" />
        </div>
        <div class="products-block-desc">
          <h2 class="products-block-desc__title title_md">Бортовой блок</h2>
          <p class="products-block-desc__text">
            Основные функциональные узлы контроллера (GSM-терминал, GPS-
            приемник и т. п.) выполнены в виде отдельных модулей, которые
            устанавливаются на основной плате и легко заменяются. Такая
            компоновка дает ряд преимуществ при производстве и обслуживании
            контроллеров.
          </p>
          <button class="products-block-desc__btn button_border-blue">Подробнее</button>
        </div>
      </div>
    </div>
  </div>
  <div class="products-list">
    <div class="content-wrapper wrapper">
      <div class="products-block">
        <div class="products-block__img">
          <img src="img/si1.png" alt="product" />
        </div>
        <div class="products-block-desc">
          <h2 class="products-block-desc__title title_md">Бортовой блок</h2>
          <p class="products-block-desc__text">
            Основные функциональные узлы контроллера (GSM-терминал, GPS-
            приемник и т. п.) выполнены в виде отдельных модулей, которые
            устанавливаются на основной плате и легко заменяются. Такая
            компоновка дает ряд преимуществ при производстве и обслуживании
            контроллеров.
          </p>
          <button class="products-block-desc__btn button_border-blue">Подробнее</button>
        </div>
      </div>
    </div>
  </div>
  <div class="products-list">
    <div class="content-wrapper wrapper">
      <div class="products-block">
        <div class="products-block__img">
          <img src="img/si1.png" alt="product" />
        </div>
        <div class="products-block-desc">
          <h2 class="products-block-desc__title title_md">Бортовой блок</h2>
          <p class="products-block-desc__text">
            Основные функциональные узлы контроллера (GSM-терминал, GPS-
            приемник и т. п.) выполнены в виде отдельных модулей, которые
            устанавливаются на основной плате и легко заменяются. Такая
            компоновка дает ряд преимуществ при производстве и обслуживании
            контроллеров.
          </p>
          <button class="products-block-desc__btn button_border-blue">Подробнее</button>
        </div>
      </div>
    </div>
  </div>
  <div class="products-list">
    <div class="content-wrapper wrapper">
      <div class="products-block">
        <div class="products-block__img">
          <img src="img/si1.png" alt="product" />
        </div>
        <div class="products-block-desc">
          <h2 class="products-block-desc__title title_md">Бортовой блок</h2>
          <p class="products-block-desc__text">
            Основные функциональные узлы контроллера (GSM-терминал, GPS-
            приемник и т. п.) выполнены в виде отдельных модулей, которые
            устанавливаются на основной плате и легко заменяются. Такая
            компоновка дает ряд преимуществ при производстве и обслуживании
            контроллеров.
          </p>
          <button class="products-block-desc__btn button_border-blue">Подробнее</button>
        </div>
      </div>
    </div>
  </div>
  <div class="products-list">
    <div class="content-wrapper wrapper">
      <div class="products-block">
        <div class="products-block__img">
          <img src="img/si1.png" alt="product" />
        </div>
        <div class="products-block-desc">
          <h2 class="products-block-desc__title title_md">Бортовой блок</h2>
          <p class="products-block-desc__text">
            Основные функциональные узлы контроллера (GSM-терминал, GPS-
            приемник и т. п.) выполнены в виде отдельных модулей, которые
            устанавливаются на основной плате и легко заменяются. Такая
            компоновка дает ряд преимуществ при производстве и обслуживании
            контроллеров.
          </p>
          <button class="products-block-desc__btn button_border-blue">Подробнее</button>
        </div>
      </div>
    </div>
  </div>
  <div class="products-list">
    <div class="content-wrapper wrapper">
      <div class="products-block">
        <div class="products-block__img">
          <img src="img/si1.png" alt="product" />
        </div>
        <div class="products-block-desc">
          <h2 class="products-block-desc__title title_md">Бортовой блок</h2>
          <p class="products-block-desc__text">
            Основные функциональные узлы контроллера (GSM-терминал, GPS-
            приемник и т. п.) выполнены в виде отдельных модулей, которые
            устанавливаются на основной плате и легко заменяются. Такая
            компоновка дает ряд преимуществ при производстве и обслуживании
            контроллеров.
          </p>
          <button class="products-block-desc__btn button_border-blue">Подробнее</button>
        </div>
      </div>
    </div>
  </div>
  <div class="products-list">
    <div class="content-wrapper wrapper">
      <div class="products-block">
        <div class="products-block__img">
          <img src="img/si1.png" alt="product" />
        </div>
        <div class="products-block-desc">
          <h2 class="products-block-desc__title title_md">Бортовой блок</h2>
          <p class="products-block-desc__text">
            Основные функциональные узлы контроллера (GSM-терминал, GPS-
            приемник и т. п.) выполнены в виде отдельных модулей, которые
            устанавливаются на основной плате и легко заменяются. Такая
            компоновка дает ряд преимуществ при производстве и обслуживании
            контроллеров.
          </p>
          <button class="products-block-desc__btn button_border-blue">Подробнее</button>
        </div>
      </div>
    </div>
  </div>
</div>
