<!-- footer block start -->
<footer>
    <div class="wrapper">
      <div class="footer-block block">
        <div class="copy">ООО “Глосав”. Все права защищены</div>
        <div class="address">
          <div class="address__item"><span class="address__desc">Москва, Кожевнический проезд., д. 1</span></div>
          <div class="address__item"><span class="email__desc">commerce@glosav.ru</span></div>
          <div class="address__item">
            <div class="phone__desc"></div>
            <span>+7 (495) 644 33 59</span>
          </div>
        </div>
      </div>
  </footer>
<!-- footer block end -->