<!-- footer block start -->
<footer>
    <div class="wrapper">
      <div class="footer-block block">
        <div class="copy">ООО “Глосав”. Все права защищены</div>
        <div class="address">
          <div class="address__item w">
            <div class="address__desc sprite-address"></div>
            <span>Москва, Кожевнический проезд., д. 1</span>
          </div>
          <div class="address__item q">
            <div class="email__desc sprite-email"></div>
            <span>commerce@glosav.ru</span>
          </div>
          <div class="address__item r">
            <div class="phone__desc sprite-phone"></div>
            <span>+7 (495) 644 33 59</span>
          </div>
        </div>
      </div>
  </footer>
<!-- footer block end -->