<!-- footer block start -->
<footer class="footer-wrapper wrapper">
      <div class="footer block">
        <div class="footer__copy">ООО “Глосав”. Все права защищены</div>
        <div class="address">
          <div class="address__item address__ico_map">
            <div class="sprite-address"></div>
            <span>Москва, Кожевнический проезд., д. 1</span>
          </div>
          <div class="address__item address__ico_email">
            <div class="sprite-email"></div>
            <span>commerce@glosav.ru</span>
          </div>
          <div class="address__item address__ico_phone">
            <div class="sprite-phone"></div>
            <span>+7 (495) 644 33 59</span>
          </div>
        </div>
  </footer>
<!-- footer block end -->