<!-- header block start -->
<header class="header">
  <div class="header-wrapper wrapper block">
    <a href="#" class="logo">
      <div class="logo__img">
        <img class="logo__img_lg" src="img/logo.png" alt="logo" />
        <img class="logo__img_md" src="img/small-logo.svg" alt="logo">
      </div>
    </a>
    <div class="header-inner">
      <div class="header-right">
        <div class="find-block">
          <form action="#" class="yura">
            <div><input class="find-block__input" type="text" placeholder="Система слежения"></div>
          </form>
          <form action="#">
            <div class="find-arrow sprite-find"></div>
          </form>
        </div>
        <div><a class="sign-in-btn btn_white showModal" data-id="5">Войти</a></div>
        <div class="lang">
          <div class="lang-btn">
            <a class="lang__current">Ru</a>
            <div class="arrow"></div>
          </div>
          <ul class="lang-list">
            <li class="lang-list__item">
              <a class="lang__link" href="#">Ua</a>
            </li>
            <li class="lang-list__item">
              <a class="lang__link" href="#">En</a>
            </li>
          </ul>
        </div>
      </div>
      <nav class="header-nav">

        <ul class="menu">
            <div class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
          <li class="menu__item">
            <a href="#">О компании</a>
            <a href="#">Направления</a>
            <a href="#">Продукты</a> 
            <a href="#">Новости</a>
            <a href="#">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- header block end -->