<!-- header block start -->
<header class="header">
  <div class="header-wrapper wrapper block">
    <a href="#" class="header__logo logo">
      <div class="logo__img">
        <img class="logo__img_lg" src="img/logo.png" alt="logo" />
        <img class="logo__img_md" src="img/small-logo.svg" alt="logo">
      </div>
    </a>
    <div class="header__inner">
      <div class="header__right">
        <div class="find-block">
          <form action="#" class="none">
            <div><input class="find-block__input" type="text" placeholder="Система слежения"></div>
          </form>
          <form action="#">
            <div class="find-block__arrow find-block_sprite"></div>
          </form>
        </div>
        <div><a class="signIn-link btn_white showModal" data-id="5">Войти</a></div>
        <div class="header__lang lang">
          <div class="lang__btn">
            <a class="lang__current">Ru</a>
            <div class="lang__arrow"></div>
          </div>
          <ul class="lang__list">
            <li class="lang__item">
              <a class="lang__link" href="#">Ua</a>
            </li>
            <li class="lang__item">
              <a class="lang__link" href="#">En</a>
            </li>
          </ul>
        </div>
      </div>
      <nav class="header__nav nav">
        <ul class="nav__menu">
          <div class="nav__icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <li class="nav__item">
            <a href="#" class="nav__link">О компании</a>
            <a href="#" class="nav__link">Направления</a>
            <a href="#" class="nav__link">Продукты</a>
            <a href="#" class="nav__link">Новости</a>
            <a href="#" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- header block end -->
