<!-- hero block start -->
<main class="hero">
  <div class="hero-wrapper">
    <div class="carousel-wrap">
      <div class="js-slider slider row owl-carousel">
        <div class="help">
          <div class="slider__item showModal" data-id='1'>
            <div class="slider__img"><img src="img/img1.png" alt="img" /></div>
            <h2 class="slider__title">Разрботка ПО</h2>
          </div>
        </div>
        <div class="help">
          <div class="item showModal" data-id="2">
            <div class="slider__img"><img src="img/img2.png" alt="img" /></div>
            <h2 class="slider__title">Системная Интеграция</h2>
          </div>
        </div>
        <div class="help">
          <div class="item showModal" data-id="3">
            <div class="slider__img"> <img src="img/img3.png" alt="img" /></div>
            <h2 class="slider__title">Технологии</h2>
          </div>
        </div>
        <div class="help">
          <div class="item showModal" data-id="4">
            <div class="slider__img"> <img src="img/img4.png" alt="img" /></div>
            <h2 class="slider__title">Мониторинг транспорта</h2>
          </div>
        </div>
        <div class="help">
          <div class="item showModal" data-id="6">
            <div class="slider__img"> <img src="img/img2.png" alt="img" /></div>
            <h2 class="slider__title">Системная Интеграция</h2>
          </div>
        </div>
        <div class="help">
          <div class="item showModal" data-id="7">
            <div class="slider__img"> <img src="img/img3.png" alt="img" /></div>
            <h2 class="slider__title">Технологии</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- hero block end -->