<!-- hero block start -->
<main class="content">
  <div class="video-wrap">
    <div class="range">
      <span class="range__text">Потяните</span>
      <input type="range" id="scrollVideo" class="range__input" value="0" />
      <span class="range__text">для просмотра</span>
    </div>
    <div class="modal" id="modal" aria-hidden="true" aria-labelledby="modalTitle" aria-describedby="modalDescription"
      role="dialog">
      <button class="close-button button-sprite" id="close-button"></button>
      <div class="modal-guts" role="document">
        <div class="video-wrapper video">
          <video class="video__item" controls></video>
          <div class="video-btn"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-wrapper">
    <div class="carousel-wrap">
      <div class="js-slider slider row owl-carousel">
        <div class="help">
          <div class="item showModal" data-id='1'>
            <div class="slider-img"><img class="slider__img" src="img/img1.png" alt="img" /></div>
            <h2 class="slider__title">Разрботка ПО</h2>
          </div>
        </div>
        <div class="help">
          <div class="item showModal" data-id="2">
            <div class="slider-img"><img class="slider__img" src="img/img2.png" alt="img" /></div>
            <h2 class="slider__title">Системная Интеграция</h2>
          </div>
        </div>
        <div class="help">
          <div class="item showModal" data-id="3">
            <div class="slider-img"> <img class="slider__img" src="img/img3.png" alt="img" /></div>
            <h2 class="slider__title">Технологии</h2>
          </div>
        </div>
        <div class="help">
          <div class="item showModal" data-id="4">
            <div class="slider-img"> <img class="slider__img" src="img/img4.png" alt="img" /></div>
            <h2 class="slider__title">Мониторинг транспорта</h2>
          </div>
        </div>
        <div class="help">
          <div class="item showModal" data-id="6">
            <div class="slider-img"> <img class="slider__img" src="img/img2.png" alt="img" /></div>
            <h2 class="slider__title">Системная Интеграция</h2>
          </div>
        </div>
        <div class="help">
          <div class="item showModal" data-id="7">
            <div class="slider-img"> <img class="slider__img" src="img/img3.png" alt="img" /></div>
            <h2 class="slider__title">Технологии</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- hero block end -->
