<div class="video-wrap">
  <div class="range">
    <span class="range__text">Потяните</span>
    <div id="slider-direction" class="range__input"></div>
    <span class="range__text">для просмотра</span>
  </div>
  <div class="modal" id="modal" aria-hidden="true" aria-labelledby="modalTitle" aria-describedby="modalDescription"
    role="dialog">
    <button class="modal__close-btn modal__close-btn_sprite transition" id="close-button"></button>
    <div class="modal__guts" role="document">
      <div class="video-wrapper madal__video">
        <video class="modal__item" controls></video>
        <div class="modal__btn"></div>
      </div>
    </div>
  </div>
</div>
