{% macro breadcrumbs(props) %}
<!-- begin breadcrumbs -->
<ul class="breadcrumbs{% if props.class %}{{ props.class }}{% endif %}">
  <div class="menu-doots">
    <span></span>
    <span></span>
    <span></span>
  </div>
  {% for item in props.list %}
  {% if loop.last %}
  <li class="breadcrumbs__item">
    <span>{{ item }}</span>
  </li>
  {% else %}
  <li class="breadcrumbs__item">
    <a href="#">{{ item }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
<!-- end breadcrumbs -->
{% endmacro %}


{% macro herobg(items) %}
<div class="bg-hero" style="background-image: url(img/{{items.img}})">
  <div class="bg-gradient"></div>
  {% if items.img %}
  <img src="img/{{items.img}}" class="bg-img" alt="bg">
  {% endif %}
</div>
<div class="wrap">
  <div class="content-wrapper wrapper">
    {% if items.title %}
    <h1 class="bg-hero__title title_lg">{{items.title}}</h1>
    {% endif %}
    <ul class="breadcrumbs">
      <div class="menu-doots">
        <span></span>
        <span></span>
        <span></span>
      </div>
      {% for item in items.list %}
      {% if loop.last %}
      <li class="breadcrumbs__item">
        <span>{{ item }}</span>
      </li>
      {% else %}
      <li class="breadcrumbs__item">
        <a href="#">{{ item }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}


{# for products #}

{% macro product(items) %}
<div class="products-block" style="background-image: url(img/{{items.img}})">
  {% if items.title %}
  <h2 class="products-block__title title_md">{{items.title}}</h2>
  {% endif %}
</div>
{% endmacro %}

{# for directions #}

{% macro directions(items) %}
<div class="directions__block">
  <div>
    {% if items.img %}
    <img src="img/{{items.img}}" class="directions__img" alt="directions">
    {% endif %}
  </div>
  {% if items.title %}
  <h2 class="directions__title title_md">{{items.title}}</h2>
  {% endif %}
  {% if items.desc %}
  <p class="directions__desc">{{items.desc}}</p>
  {% endif %}
  {% if items.btn %}
  <button class="directions__btn button_border-blue">{{items.btn}}</button>
  {% endif %}
  <ul class="directions__list">
    {% for item in items.list %}
    {% if items.list %}
    <li class="directions__item">
      <span>{{ item }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endmacro %}
