<!-- modals -->

<div class="modalContent" id="cont1">
  <div class="content-modal">
    <div class="items">1</div>
    <div class="items">2</div>
  </div>

</div>

<div class="modalContent" id="cont2">
  <div class="content-modal slide-system-integration">
    <div class="slide-system-integration-wparrer">
      <div class="slide-system-integration-hero">
        <div class="pop-up-container">
          <div class="slide-system-integration-hero__text">
            <button class="close-button-modal button-sprite" id="close-button"></button>
            <p class="slide-system-integration-hero__desc">Система для компаний,
              занимающихся дистрибуцией.
              Может быть использована как для
              оснащения транспортных средств,
              так и для оснащения персонала. В
              зависимости от специфики компании
              выбирается наиболее рациональный
              комплект оборудования, который
              может включать: бортовой блок,
              смартфон, персональный трекер.</p>
            <div><button class="slide-system-integration-hero__btn">Подробнее</button></div>
          </div>
        </div>
        <div class="img-modal"></div>
      </div>
      <div class="list">
        <div class="items">
          <div class="items__content">
            <div class="items-img">
              <img src="img/item1.png" alt="item">
            </div>
            <h3>Поставка</h3>
          </div>
        </div>
        <div class="items">1</div>
        <div class="items">1</div>
        <div class="items">1</div>
        <div class="items">1</div>
        <div class="items">1</div>
      </div>
    </div>
  </div>
</div>

<div class="modalContent" id="cont3">
  <div class="content-modal">
    <div class="items">1</div>
  </div>

</div>

<div class="modalContent" id="cont4">
  <div class="content-modal">
    <h1>red</h1>
  </div>
</div>

<!-- modal-window -->

<div id="modalWindow">
  <div class="container">
    <span class="closeModal"></span>
    <div id="innerModal"></div>
  </div>
</div>
