<!-- modals -->

<div class="modalContent" id="cont1">
  <div class="content-modal slide-system-integration">
    <div class="slide-system-integration-wparrer">
      <div class="slide-system-integration-hero">
        <div class="pop-up-container">
          <div class="slide-system-integration-hero__text">
            <div class="close-button-modal button_lg" id="close-button">
              <img class="close" src="img/close.svg" alt="close button">
            </div>
            <p class="slide-system-integration-hero__desc">Система для компаний,
              занимающихся дистрибуцией.
              Может быть использована как для
              оснащения транспортных средств,
              так и для оснащения персонала. В
              зависимости от специфики компании
              выбирается наиболее рациональный
              комплект оборудования, который
              может включать: бортовой блок,
              смартфон, персональный трекер.</p>
            <div><button class="slide-system-integration-hero__btn">Подробнее</button></div>
          </div>
        </div>
        <div class="img-modal">
          <img src="img/img1.png" alt="img">
          <div class="close-button-modal button_lg" id="close-button">
            <img class="close" src="img/close.svg" alt="close button">
          </div>
        </div>
        <h2 class="slide-system-integration-hero__title">Разрботка ПО</h2>
        <div class="list">
          <div class="items">
            <div class="items-content">
              <div class="items-content__img">
                <img src="img/item1.png" alt="item">
              </div>
              <h3 class="items-content__title">Поставка</h3>
            </div>
          </div>
          <div class="items">
            <div class="items-content">
              <div class="items-content__img">
                <img src="img/item2.png" alt="item">
              </div>
              <h3 class="items-content__title">Монтаж</h3>
            </div>
          </div>
          <div class="items">
            <div class="items-content">
              <div class="items-content__img">
                <img src="img/item3.png" alt="item">
              </div>
              <h3 class="items-content__title">Пусконаладка</h3>
            </div>
          </div>
          <div class="items">
            <div class="items-content">
              <div class="items-content__img">
                <img src="img/item4.png" alt="item">
              </div>
              <h3 class="items-content__title">Поставка</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modalContent" id="cont2">
  <div class="content-modal slide-system-integration">
    <div class="slide-system-integration-wparrer">
      <div class="slide-system-integration-hero">
        <div class="pop-up-container">
          <div class="slide-system-integration-hero__text">
            <div class="close-button-modal button_lg button-sprite" id="close-button">
              <img class="close" src="img/close.svg" alt="close button">
            </div>
            <p class="slide-system-integration-hero__desc">Система для компаний,
              занимающихся дистрибуцией.
              Может быть использована как для
              оснащения транспортных средств,
              так и для оснащения персонала. В
              зависимости от специфики компании
              выбирается наиболее рациональный
              комплект оборудования, который
              может включать: бортовой блок,
              смартфон, персональный трекер.</p>
            <div><button class="slide-system-integration-hero__btn">Подробнее</button></div>
          </div>
        </div>
        <div class="img-modal">
            <img src="img/img2.png" alt="img">
            <div class="close-button-modal button_lg" id="close-button">
              <img class="close" src="img/close.svg" alt="close button">
            </div>
        </div>
        <h2 class="slide-system-integration-hero__title">Системная Интеграция</h2>
        <div class="list">
          <div class="items">
            <div class="items-content">
              <div class="items-content__img">
                <img src="img/item1.png" alt="item">
              </div>
              <h3 class="items-content__title">Поставка</h3>
            </div>
          </div>
          <div class="items">
            <div class="items-content">
              <div class="items-content__img">
                <img src="img/item2.png" alt="item">
              </div>
              <h3 class="items-content__title">Монтаж <span class="small-word">высокопрофессиональный</span></h3>
            </div>
          </div>
          <div class="items">
            <div class="items-content">
              <div class="items-content__img">
                <img src="img/item3.png" alt="item">
              </div>
              <h3 class="items-content__title">Пусконаладка</h3>
            </div>
          </div>
          <div class="items">
            <div class="items-content">
              <div class="items-content__img">
                <img src="img/item4.png" alt="item">
              </div>
              <h3 class="items-content__title">Поставка</h3>
            </div>
          </div>
          <div class="items">
            <div class="items-content">
              <div class="items-content__img">
                <img src="img/item5.png" alt="item">
              </div>
              <h3 class="items-content__title">Монтаж</h3>
            </div>
          </div>
          <div class="items">
            <div class="items-content">
              <div class="items-content__img">
                <img src="img/item6.png" alt="item">
              </div>
              <h3 class="items-content__title">Пусконаладка</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modalContent" id="cont3">
  <div class="content-modal slide-system-integration">
    <div class="slide-system-integration-wparrer">
      <div class="slide-system-integration-hero">
        <div class="pop-up-container">
          <div class="slide-system-integration-hero__text">
            <div class="close-button-modal button_lg button-sprite" id="close-button">
              <img class="close" src="img/close.svg" alt="close button">
            </div>
            <p class="slide-system-integration-hero__desc">Система для компаний,
              занимающихся дистрибуцией.
              Может быть использована как для
              оснащения транспортных средств,
              так и для оснащения персонала. В
              зависимости от специфики компании
              выбирается наиболее рациональный
              комплект оборудования, который
              может включать: бортовой блок,
              смартфон, персональный трекер.</p>
            <div><button class="slide-system-integration-hero__btn">Подробнее</button></div>
          </div>
        </div>
        <div class="img-modal">
            <img src="img/img3.png" alt="img">
            <div class="close-button-modal button_lg" id="close-button">
              <img class="close" src="img/close.svg" alt="close button">
            </div>
        </div>
        <h2 class="slide-system-integration-hero__title">Технологии</h2>
        <div class="list">
          <div class="items">
            <div class="items-content">
              <div class="items-content__img">
                <img src="img/item1.png" alt="item">
              </div>
              <h3 class="items-content__title">Поставка</h3>
            </div>
          </div>
          <div class="items">
            <div class="items-content">
              <div class="items-content__img">
                <img src="img/item3.png" alt="item">
              </div>
              <h3 class="items-content__title">Пусконаладка</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modalContent" id="cont4">
  <div class="content-modal slide-system-integration">
    <div class="slide-system-integration-wparrer">
      <div class="slide-system-integration-hero">
        <div class="pop-up-container">
          <div class="slide-system-integration-hero__text">
            <div class="close-button-modal button_lg button-sprite" id="close-button">
              <img class="close" src="img/close.svg" alt="close button">
            </div>
            <p class="slide-system-integration-hero__desc">Система для компаний,
              занимающихся дистрибуцией.
              Может быть использована как для
              оснащения транспортных средств,
              так и для оснащения персонала. В
              зависимости от специфики компании
              выбирается наиболее рациональный
              комплект оборудования, который
              может включать: бортовой блок,
              смартфон, персональный трекер.</p>
            <div><button class="slide-system-integration-hero__btn">Подробнее</button></div>
          </div>
        </div>
        <div class="img-modal">
            <img src="img/img4.png" alt="img">
            <div class="close-button-modal button_lg" id="close-button">
              <img class="close" src="img/close.svg" alt="close button">
            </div>
        </div>
        <h2 class="slide-system-integration-hero__title">Мониторинг и тахография</h2>
        <div class="list">
          <div class="items">
            <div class="items-content">
              <div class="items-content__img">
                <img src="img/item1.png" alt="item">
              </div>
              <h3 class="items-content__title">Поставка</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modalContent" id="cont5">
  <div class="content-modal">
    <div class="login-popUp">
      <h2 class="login-popUp__title">Вход в web-систему</h2>
      <form class="login-form" action="">
        <div><input type="name" class="login-form__text" placeholder="Компания" required></div>
        <div><input type="text" class="login-form__text" placeholder="Логин"></div>
        <div><input type="text" class="login-form__text" placeholder="Пароль"></div>
        <button type="submit" class="login-form__btn">Войти</button>
      </form>
      <div class="close-btn close">
        <img class="close" src="img/close.svg" alt="close button">
      </div>
    </div>
  </div>
</div>

<div class="modalContent" id="cont6">
  <div class="content-modal slide-system-integration">
    <div class="slide-system-integration-wparrer">
      <div class="slide-system-integration-hero">
        <div class="pop-up-container">
          <div class="slide-system-integration-hero__text">
            <div class="close-button-modal button_lg button-sprite" id="close-button">
              <img class="close" src="img/close.svg" alt="close button">
            </div>
            <p class="slide-system-integration-hero__desc">Система для компаний,
              занимающихся дистрибуцией.
              Может быть использована как для
              оснащения транспортных средств,
              так и для оснащения персонала. В
              зависимости от специфики компании
              выбирается наиболее рациональный
              комплект оборудования, который
              может включать: бортовой блок,
              смартфон, персональный трекер.</p>
            <div><button class="slide-system-integration-hero__btn">Подробнее</button></div>
          </div>
        </div>
        <div class="img-modal">
            <img src="img/img2.png" alt="img">
            <div class="close-button-modal button_lg" id="close-button">
              <img class="close" src="img/close.svg" alt="close button">
            </div>
        </div>
        <h2 class="slide-system-integration-hero__title">Системная Интеграция</h2>
        <div class="list">
          <div class="items">
            <div class="items-content">
              <div class="items-content__img">
                <img src="img/item1.png" alt="item">
              </div>
              <h3 class="items-content__title">Поставка</h3>
            </div>
          </div>
          <div class="items">
            <div class="items-content">
              <div class="items-content__img">
                <img src="img/item2.png" alt="item">
              </div>
              <h3 class="items-content__title">Монтаж высокопрофессиональный</h3>
            </div>
          </div>
          <div class="items">
            <div class="items-content">
              <div class="items-content__img">
                <img src="img/item6.png" alt="item">
              </div>
              <h3 class="items-content__title">Поставка</h3>
            </div>
          </div>
          <div class="items">
            <div class="items-content">
              <div class="items-content__img">
                <img src="img/item1.png" alt="item">
              </div>
              <h3 class="items-content__title">Поставка</h3>
            </div>
          </div>
          <div class="items">
            <div class="items-content">
              <div class="items-content__img">
                <img src="img/item5.png" alt="item">
              </div>
              <h3 class="items-content__title">Поставка</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modalContent" id="cont7">
  <div class="content-modal slide-system-integration">
    <div class="slide-system-integration-wparrer">
      <div class="slide-system-integration-hero">
        <div class="pop-up-container">
          <div class="slide-system-integration-hero__text">
            <div class="close-button-modal button_lg button-sprite" id="close-button">
              <img class="close" src="img/close.svg" alt="close button">
            </div>
            <p class="slide-system-integration-hero__desc">Система для компаний,
              занимающихся дистрибуцией.
              Может быть использована как для
              оснащения транспортных средств,
              так и для оснащения персонала. В
              зависимости от специфики компании
              выбирается наиболее рациональный
              комплект оборудования, который
              может включать: бортовой блок,
              смартфон, персональный трекер.</p>
            <div><button class="slide-system-integration-hero__btn">Подробнее</button></div>
          </div>
        </div>
        <div class="img-modal">
            <img src="img/img3.png" alt="img">
            <div class="close-button-modal button_lg" id="close-button">
              <img class="close" src="img/close.svg" alt="close button">
            </div>
        </div>
        <h2 class="slide-system-integration-hero__title">Технологии</h2>
        <div class="list">
          <div class="items">
            <div class="items-content">
              <div class="items-content__img">
                <img src="img/item1.png" alt="item">
              </div>
              <h3 class="items-content__title">Поставка</h3>
            </div>
          </div>
          <div class="items">
            <div class="items-content">
              <div class="items-content__img">
                <img src="img/item3.png" alt="item">
              </div>
              <h3 class="items-content__title">Поставка</h3>
            </div>
          </div>
          <div class="items">
            <div class="items-content">
              <div class="items-content__img">
                <img src="img/item5.png" alt="item">
              </div>
              <h3 class="items-content__title">Поставка</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal-window -->

<div id="modalWindow" class="modalWindow">
  <div class="container">
    <span class="closeModal"></span>
    <div id="innerModal"></div>
  </div>
</div>
