<div class="content-wrapper wrapper">
  <div class="introduction">
    <div class="introduction__left">
      <div class="introduction-article__img introduction-left__img_none">
        <img src="img/introduction-bank.png" alt="photo">
      </div>
      <aside class="introduction-aside">
        <h2 class="introduction-aside__title title_md">Какие задачи стояли </h2>
        <ul class="introduction-aside__list">
          <li class="introduction-aside__item">Минимизация рисков банка</li>
          <li class="introduction-aside__item"> Повышение безопасности перевозок инкассаторов</li>
          <li class="introduction-aside__item"> Оптимизация работы транспортного парка</li>
          <li class="introduction-aside__item"> Информирование о тревожных событиях</li>
          <li class="introduction-aside__item"> Контроль местоположения предмета собственности</li>
        </ul>
        <h2 class="introduction-aside__title title_md">Какие работы были выполнены</h2>
        <ul class="introduction-aside__list">
          <li class="introduction-aside__item">Повышена безопасности перевозок</li>
          <li class="introduction-aside__item">Анализ рисков банка</li>
          <li class="introduction-aside__item">Оптимизация работы транспортного парка</li>
          <li class="introduction-aside__item">Информирование о тревожных событиях</li>
          <li class="introduction-aside__item">Контроль местоположения предмета</li>
        </ul>
        <h2 class="introduction-aside__title title_md">Какой результат был получен</h2>
        <p class="introduction-aside__desc">Мы помогли нашему Клиенту разобраться в технических вопросах и выработали
          решения, благодаря которым более 40 производственных
          задач компании-заказчика были решены или поставлены на автоматизированный оперативный контроль.</p>
      </aside>
    </div>
    <div class="introduction__right">
      <article class="introduction-article">
        <div class="introduction-article__img">
          <img src="img/introduction-bank.png" alt="photo">
        </div>
        <h2 class="introduction-article__title title_md">Описание внедрения</h2>
        <p class="introduction-article__desc">
          На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую
          меховую муфту,
          в которой целиком исчезала ее рука. Затем взгляд Грегора устремился в окно, и пасмурная погода – слышно было,
          как
          по жести подоконника стучат капли дождя – привела его и вовсе в грустное настроение. «Хорошо бы еще немного
          поспать
          и забыть всю эту чепуху», – подумал он, но это было совершенно неосуществимо, он привык спать на правом боку,
          а
          в теперешнем своем состоянии он никак не мог принять этого положения.
        </p>
        <p class="introduction-article__desc">Закрыв глаза, чтобы не видеть своих барахтающихся ног, он проделал это
          добрую сотню раз и отказался от этих попыток
          только тогда, когда почувствовал какую-то неведомую дотоле, тупую и слабую боль в боку.</p>
        <p class="introduction-article__desc">
          Изо дня в день в разъездах. Деловых волнений куда больше, чем на месте, в торговом доме, а кроме того, изволь
          терпеть тяготы
          дороги, думай о расписании поездов, мирись с плохим, нерегулярным питанием, завязывай со все новыми и новыми
          людьми
          недолгие, никогда не бывающие сердечными отношения. </p>
        <button class="introduction-article__btn">Вернуться назад</button>
      </article>
    </div>
  </div>
</div>
</div>
