<div class="products-bg">
  <div class="content-wrapper wrapper">
    <div class="products">
      <h2 class="products__title title_md">Продукты</h2>
      <div class="products__slider">
        <div class="products__content">
          <div class="js-products-slider">
            <div class="js-col">
              <div class="products-block">
                <div class="products-block__img"><img src="img/products1.png" alt="slide"></div>
                <h3 class="products-block__title title_xs">Тревожная кнопка</h3>
              </div>
            </div>
            <div class="js-col">
              <div class="products-block">
                <div class="products-block__img"><img src="img/products1.png" alt="slide"></div>
                <h3 class="products-block__title title_xs">Тревожная кнопка</h3>
              </div>
            </div>
            <div class="js-col">
              <div class="products-block">
                <div class="products-block__img"><img src="img/products1.png" alt="slide"></div>
                <h3 class="products-block__title title_xs">Тревожная кнопка</h3>
              </div>
            </div>
            <div class="js-col">
              <div class="products-block">
                <div class="products-block__img"><img src="img/products1.png" alt="slide"></div>
                <h3 class="products-block__title title_xs">Тревожная кнопка</h3>
              </div>
            </div>
            <div class="js-col">
              <div class="products-block">
                <div class="products-block__img"><img src="img/products1.png" alt="slide"></div>
                <h3 class="products-block__title title_xs">Тревожная кнопка</h3>
              </div>
            </div>
            <div class="js-col">
              <div class="products-block">
                <div class="products-block__img"><img src="img/products1.png" alt="slide"></div>
                <h3 class="products-block__title title_xs">Тревожная кнопка</h3>
              </div>
            </div>
            <div class="js-col">
              <div class="products-block">
                <div class="products-block__img"><img src="img/products1.png" alt="slide"></div>
                <h3 class="products-block__title title_xs">Тревожная кнопка</h3>
              </div>
            </div>
          </div>
          <div class="products-arrows">
            <div class="monitoring__arrows_prev products-arrows__prev"></div>
            <div class="monitoring__arrows_next products-arrows__next"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
