<div class="container-wrapper">
  <div class="content-wrapper wrapper">
    <div class="directions-block">
      <div class="col-6">
        <div class="directions-block__item">
          <div><img class="directions-block__img" src="img/directions1.png" alt="directions"></div>
          <h2 class="directions-block__title title_md">Мониторинг и тахография </h2>
          <p class="directions-block__desc">Специализированная система, в состав которой входит расширенный набор бортового оборудования,
            обеспечивающий
            возможность контроля исполнительных механизмов специализированной техники. Расширенный функционал
            программного обеспечения позволяет обеспечивать.</p>
          <button class="directions-block__btn button_border-blue">Подробнее</button>
        </div>
      </div>
      <div class="col-6">
        <div class="directions-block__item">
          <div><img class="directions-block__img" src="img/directions2.png" alt="directions"></div>
          <h2 class="directions-block__title title_md">Системная интеграция</h2>
          <p class="directions-block__desc">Специализированная система, в состав которой входит расширенный набор бортового оборудования,
            обеспечивающий
            возможность контроля исполнительных механизмов специализированной техники. Расширенный функционал
            программного обеспечения позволяет обеспечивать.</p>
          <button class="directions-block__btn button_border-blue">Подробнее</button>
        </div>
      </div>
      <div class="col-6">
        <div class="directions-block__item">
          <div><img class="directions-block__img" src="img/directions3.png" alt="directions"></div>
          <h2 class="directions-block__title title_md">ИТС</h2>
          <p class="directions-block__desc">Специализированная система, в состав которой входит расширенный набор бортового оборудования,
            обеспечивающий
            возможность контроля исполнительных механизмов специализированной техники. Расширенный функционал
            программного обеспечения позволяет обеспечивать.</p>
          <button class="directions-block__btn button_border-blue">Подробнее</button>
        </div>
      </div>
      <div class="col-6">
        <div class="directions-block__item">
          <div><img class="directions-block__img" src="img/directions4.png" alt="directions"></div>
          <h2 class="directions-block__title title_md">Разработка ПО</h2>
          <p class="directions-block__desc">Специализированная система, в состав которой входит расширенный набор бортового оборудования,
            обеспечивающий
            возможность контроля исполнительных механизмов специализированной техники. Расширенный функционал
            программного обеспечения позволяет обеспечивать.</p>
          <button class="directions-block__btn button_border-blue">Подробнее</button>
        </div>
      </div>
    </div>
  </div>
</div>
