<div class="container-wrapper">
  <div class="content-wrapper wrapper">
    <div class="directions-block">
      <div class="col-6">
        {{
        mixins.directions({
        img: "directions1.png",
        title: ["Мониторинг и тахография"],
        desc: ["Специализированная система, в состав которой входит расширенный
        набор бортового оборудования, обеспечивающий возможность контроля
        исполнительных механизмов специализированной техники. Расширенный
        функционал программного обеспечения позволяет обеспечивать."],
        btn: ["Подробнее"],
        list: ["Строительство", "Топливозаправщик", "Перевозки", "Дистрибуция"]
        })
        }}
      </div>
      <div class="col-6">
        {{
        mixins.directions({
        img: "directions2.png",
        title: ["Системная интеграция"],
        desc: ["Специализированная система, в состав которой входит расширенный
        набор бортового оборудования, обеспечивающий возможность контроля
        исполнительных механизмов специализированной техники. Расширенный
        функционал программного обеспечения позволяет обеспечивать."],
        btn: ["Подробнее"],
        list: ["Строительство", "Топливозаправщик", "Перевозки", "Дистрибуция"]
        })
        }}
      </div>
      <div class="col-6">
        {{
        mixins.directions({
        img: "directions3.png",
        title: ["ИТС"],
        desc: ["Специализированная система, в состав которой входит расширенный
        набор бортового оборудования, обеспечивающий возможность контроля
        исполнительных механизмов специализированной техники. Расширенный
        функционал программного обеспечения позволяет обеспечивать."],
        btn: ["Подробнее"],
        list: ["Строительство", "Топливозаправщик", "Перевозки", "Дистрибуция"]
        })
        }}
      </div>
      <div class="col-6">
        {{
        mixins.directions({
        img: "directions4.png",
        title: ["Разработка ПО"],
        desc: ["Специализированная система, в состав которой входит расширенный
        набор бортового оборудования, обеспечивающий возможность контроля
        исполнительных механизмов специализированной техники. Расширенный
        функционал программного обеспечения позволяет обеспечивать."],
        btn: ["Подробнее"],
        list: ["Строительство", "Топливозаправщик", "Перевозки", "Дистрибуция"]
        })
        }}
      </div>
    </div>
  </div>
</div>
