.contact_title
    color: #2e5b72
    font-family: "GothamPro"
    font-size: 16px
    font-weight: 500
    line-height: 22px


.contact-info
    display: flex
    flex-direction: column
    color: #396f8c
    font-family: "GothamPro"
    font-size: 14px
    font-weight: 400
    +lg
        padding: 0 20px
    &:first-child
        margin-top: 65px
        +md
            margin-top: 0
    & div:last-child
        margin-right: 0
    &__item
        display: flex
        align-items: center
        padding-bottom: 22px
        &:last-child
            padding-bottom: 40px
        & div
            margin-right: 30px
            +md
                margin-right: 0
        +md
            flex-direction: column
            align-items: flex-start
        & div
            +md
                margin-bottom: 10px
            &:last-child
                margin-bottom: 0

