.news
    &__title
        margin-top: 25px
    &__wrapper
        max-width: 1149px
        margin-top: 20px
        padding-bottom: 30px


.news-flex
    display: flex
    flex-wrap: wrap
    width: 100%
    margin-top: 10px
    +md
        margin-top: 35px
    +sm
        margin-top: 10px
    &__item
        position: relative
        height: 412px
        background-color: #ffffff
        display: flex
        flex-direction: column
        justify-content: space-between
        margin: 0 auto
        margin-bottom: 20px
        +sm
            max-width: 262px
    &__cover
        width: 100%
        height: 100%
        +sm 
            max-height: 259px
        & img
            width: 100%
            height: 100%
            object-fit: cover
    &__img
        display: block
        width: 100%
    &__title
        padding: 20px
    &__desc
        // padding: 20px
        display: flex
        flex-direction: column
    &__btn
        color: #2e5b72
        font-size: 14px
        font-weight: 400
        letter-spacing: 0.7px
        background-color: transparent
        align-self: flex-end
        display: block
        margin-left: auto
        padding-right: 20px
        padding-bottom: 10px
        position: absolute
        bottom: 0
        transition: 0.3s
        +sm
            padding-bottom: 5px
        &:hover
            color: #f58220
    &_bg-gradient
        position: relative
        +md
            width: 100%
        &:before
            content: ""
            position: absolute
            width: 100%
            height: 50%
            bottom: 0
            left: 0
            background: linear-gradient(to bottom, rgba(255,255,255,0) 8%,rgba(255,255,255,0.85) 48%,rgba(255,255,255,0.85) 60%,rgba(255,255,255,0.85) 100%)
    &_bg-absolute
        position: absolute
        bottom: 0
        +md
            bottom: 30px
    // & .flex-column
    //     display: flex
    //     flex-direction: column
    //     &__item
    //         display: flex
    //         align-items: center

.small-news
    display: flex
    flex-direction: column
    width: 100%
    &__item
        display: flex
        flex-direction: row
        justify-content: flex-start
        width: 100%
        height: 120px
        margin-bottom: 25px
    &__img
        +md
            display: none
    &__title
        max-width: 357px
    &__btn
        bottom: 10px
        right: 0px

.news__select
    display: flex
    justify-content: flex-end
    margin: 0 10px

.news .select2-selection__placeholder
    opacity: 1
    color: #396f8c
    font-family: "GothamPro"
    font-size: 14px
    font-weight: 400
    letter-spacing: 0.28px
    border-bottom: 1px dotted #9ab5c6

.news .select2-container
    display: block


.news .select2-container--default .select2-selection--single
    border: none
    background-color: transparent
    border-radius: 20px
    padding: 6px 0
    display: block
    position: relative

.news .select2-container--default .select2-selection--single .select2-selection__rendered
    color: #396f8c
    opacity: 0.7

.news .select2-container .select2-selection--single .select2-selection__rendered
    display: block
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    cursor: pointer


.news .select2-container--default .select2-selection--single .select2-selection__arrow
    height: 40px
    right: 5px


.news-select .select2-search--dropdown
    display: none


.news-select .select2-container--open .select2-dropdown--below
    overflow: hidden
    background-color: #e4e5e5
    border: none
    display: block

.select2-results__options
    padding: 5px 20px

.news-select .select2-results__option
    opacity: .7
    color: #2c5b72
    font-family: "GothamPro"
    font-size: 14px
    letter-spacing: 0.28px
    padding-top: 5px
    padding-bottom: 5px
    cursor: pointer
    &:hover
        color: #f58220

.news-select .select2-container--default .select2-results__option[aria-selected=true]
    background-color: transparent
    color: #2c5b72

.news-select .select2-container--default .select2-results__option--highlighted[aria-selected]


.news-select .select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0

.news-select .select2-container--default .select2-selection--single .select2-selection__arrow b
    border-style: solid
    border-color: #2c5b72
    border-width: 2px 2px 0 0
    content: '';
    height: 8px;
    width: 8px;
    position: absolute;
    top: 50%;
    right: 0px;
    transition: 0.3s
    transform: rotate(135deg) translateY(100%);

.news-select .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
    transform: rotate(-45deg);
    right: 5px
    top: 46%