<!-- form block start -->
<div class="form-request-bg">
  <div class="form-request-wrapper wrapper">
    <div class="form-request">
      <div class="form col-6">
        <form action="#" class="form-content">
          <div><input class="form__input" type="text" placeholder="ФИО"></div>
          <div><input class="form__input" type="text" placeholder="E-mail"></div>
          <div>
            <select class="js-select form-select none">
              <option>Выберите департамент для обращения</option>
              <option>Короткая тема номер 1</option>
              <option>Средняя тема номер 2</option>
              <option>Очень длинная тема номер 3</option>
            </select>
          </div>
          <div>
            <select class="js-select form-select none">
              <option>Выберите департамент для обращения</option>
              <option>Короткая тема номер 1</option>
              <option>Средняя тема номер 2</option>
              <option>Очень длинная тема номер 3</option>
            </select>
          </div>
          <div><input class="form__input" type="text" placeholder="ФИО"></div>
        </form>
      </div>
      <div class="col-1"></div>
      <div class="request col-6">
        <h3 class="request__title title_md">Оставьте заявку</h3>
        <p class="request__desc">Компания ГЛОСАВ признана победителем тендера на поставку и установку систем
          мониторинга транспорта с использованием оборудования ГЛОНАСС/GPS для филиала ОАО «Федеральная сетевая
          компания»(ФСК ЕЭС) «Магистральные электрические сети Центра»(МЭС Центра). Мониторинговое оборудование будет
          установлено на 890 транспортных средств в филиалах(ПМЭС) входящих В зону ответственности МЭС Центра:
          Валдайское, Верхне-Донское, Волго-Донское, Волго-Окское, Вологодское, Московское, Приокское и Черноземное.</p>
      </div>
    </div>
  </div>
</div>
<!-- form block end -->
