<!-- form block start -->
<div class="form-request-bg">
  <div class="form-request-wrapper wrapper">
    <div class="form-request">
      <div class="form col-6">
        <form action="#" class="form-content">
          <div><input class="form__input" type="text" placeholder="ФИО"></div>
          <div><input class="form__input" type="text" placeholder="E-mail"></div>
          <div class="form-select">
            <select class="js-select js-states form-control none">
              <option>Выберите департамент для обращения</option>
              <option>Короткая тема номер 1</option>
              <option>Средняя тема номер 2</option>
              <option>Очень длинная тема номер 3</option>
            </select>
          </div>
          <div><input class="form__input" type="text" placeholder="ФИО"></div>
        </form>
      </div>
      <div class="col-1"></div>
      <div class="request col-6">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi harum, nihil asperiores tenetur similique,
          libero alias ipsa earum voluptas tempore repudiandae possimus qui placeat non nostrum ut eaque itaque
          architecto!</p>
      </div>
    </div>
  </div>
</div>
<!-- form block end -->
