<div class="monitoring">
  <div class="bg-gradient">
    <div class="bg-monitoring"><img src="img/monitoring-header.png" alt=""></div>
  </div>
  <div class="monitoring-wrapper wrapper">
    <h1 class="monitoring__title title_lg">Мониторинг транспорта</h1>
    {{
    mixins.breadcrumbs({
    list: ["Главная", "Направления", "Мониторинг транспорта"]
    })
    }}
    <div class="hero-ask">
      <h2 class="hero-ask__title title_md">Что это такое?</h2>
      <p class="hero-ask__desc">
        Закрыв глаза, чтобы не видеть своих барахтающихся ног, он проделал это добрую сотню раз и отказался от этих
        попыток только тогда, когда почувствовал какую-то неведомую дотоле, тупую и слабую боль в боку. Изо дня в день
        в разъездах. Деловых волнений куда больше, чем на месте, в торговом доме, а кроме того, изволь терпеть тяготы
        дороги, думай о расписании поездов, мирись с плохим, нерегулярным питанием, завязывай.
      </p>
      <p class="hero-ask__desc-two">
          Закрыв глаза, чтобы не видеть своих барахтающихся ног, он проделал это добрую сотню раз и отказался от этих
          попыток только тогда, когда почувствовал какую-то неведомую дотоле, тупую и слабую боль в боку. Изо дня в день
          в разъездах. Деловых волнений куда больше, чем на месте, в торговом доме, а кроме того, изволь терпеть тяготы
          дороги, думай о расписании поездов, мирись с плохим, нерегулярным питанием, завязывай.
        </p>
    </div>
  </div>
</div>
