<!-- parthers block start -->
<div class="partners">
  <div class="partners-wrapper wrapper">
    <h2 class="partners__title title_md">Кто уже воспользовался</h2>
    <div class="partners-logo">
      <div class="partners-logo__item">
        <div class="partners-logo__icon partners-logo__icon-sberbank showModal" data-id="1"></div>
      </div>
      <div class="partners-logo__item">
        <div class="partners-logo__icon partners-logo__icon-huawei showModal" data-id="2"></div>
      </div>
      <div class="partners-logo__item">
        <div class="partners-logo__icon partners-logo__icon-gazprom showModal" data-id="3"></div>
      </div>
      <div class="partners-logo__item">
        <div class="partners-logo__icon partners-logo__icon-dell showModal" data-id="4"></div>
      </div>
      <div class="partners-logo__item">
        <div class="partners-logo__icon partners-logo__icon-alphabank showModal" data-id="5"></div>
      </div>
      <div class="partners-logo__item">
        <div class="partners-logo__icon partners-logo__icon-google showModal" data-id="6"></div>
      </div>
      <div class="partners-logo__item">
        <div class="partners-logo__icon partners-logo__icon-skbbank showModal" data-id="7"></div>
      </div>
      <div class="partners-logo__item">
        <div class="partners-logo__icon partners-logo__icon-apple showModal" data-id="8"></div>
      </div>
      <div class="partners-logo__item">
        <div class="partners-logo__icon partners-logo__icon-mts showModal" data-id="9"></div>
      </div>
      <div class="partners-logo__item">
        <div class="partners-logo__icon partners-logo__icon-intel showModal" data-id="10"></div>
      </div>
    </div>
  </div>
</div>
<!-- parthers block end -->
