<!-- parthers block start -->
<div class="partners">
  <div class="content-wrapper wrapper">
    <h2 class="partners__title title_md">Кто уже воспользовался</h2>
    <div class="partners__row">
      <div class="partners__item">
        <div class="partners__icon partners__icon_sberbank showModal" data-item-id="1"></div>
      </div>
      <div class="partners__item">
        <div class="partners__icon partners__icon_huawei showModal" data-item-id="2"></div>
      </div>
      <div class="partners__item">
        <div class="partners__icon partners__icon_gazprom showModal" data-item-id="3"></div>
      </div>
      <div class="partners__item">
        <div class="partners__icon partners__icon_dell showModal" data-item-id="4"></div>
      </div>
      <div class="partners__item">
        <div class="partners__icon partners__icon_alphabank showModal" data-item-id="5"></div>
      </div>
      <div class="partners__item">
        <div class="partners__icon partners__icon_google showModal" data-item-id="6"></div>
      </div>
      <div class="partners__item">
        <div class="partners__icon partners__icon_skbbank showModal" data-item-id="7"></div>
      </div>
      <div class="partners__item">
        <div class="partners__icon partners__icon_apple showModal" data-item-id="8"></div>
      </div>
      <div class="partners__item">
        <div class="partners__icon partners__icon_mts showModal" data-item-id="9"></div>
      </div>
      <div class="partners__item">
        <div class="partners__icon partners__icon_intel showModal" data-item-id="10"></div>
      </div>
    </div>
  </div>
</div>
<!-- parthers block end -->
