<!-- preview block start -->
<div class="preview_bg">
  <div class="content-wrapper wrapper">
    <div class="preview">
      <h2 class="preview__title title_md">Что это такое?</h2>
      <div class="preview__desc">
        <p>
          Закрыв глаза, чтобы не видеть своих барахтающихся ног, он проделал это добрую сотню раз и отказался от этих
          попыток только тогда, когда почувствовал какую-то неведомую дотоле, тупую и слабую боль в боку. Изо дня в
          день
          в разъездах. Деловых волнений куда больше, чем на месте, в торговом доме, а кроме того, изволь терпеть тяготы
          дороги, думай о расписании поездов, мирись с плохим, нерегулярным питанием, завязывай.
        </p>
        <p>
          Закрыв глаза, чтобы не видеть своих барахтающихся ног, он проделал это добрую сотню раз и отказался от этих
          попыток только тогда, когда почувствовал какую-то неведомую дотоле, тупую и слабую боль в боку. Изо дня в
          день
          в разъездах. Деловых волнений куда больше, чем на месте, в торговом доме, а кроме того, изволь терпеть тяготы
          дороги, думай о расписании поездов, мирись с плохим, нерегулярным питанием, завязывай.
        </p>
      </div>
      <div class="preview__button button_lg">
        <img src="img/arrow__down.svg" class="preview__arrow" alt="arrow open">
      </div>
    </div>
  </div>
</div>
<!-- preview block end -->