<div class="monitoring-examples">
  <div class="monitoring-wrapper wrapper">
    <div class="hero-ask">
      <h2 class="hero-ask__title title_md">Что это такое?</h2>
      <div class="hero-ask__desc">
        <p>
          Закрыв глаза, чтобы не видеть своих барахтающихся ног, он проделал это добрую сотню раз и отказался от этих
          попыток только тогда, когда почувствовал какую-то неведомую дотоле, тупую и слабую боль в боку. Изо дня в
          день
          в разъездах. Деловых волнений куда больше, чем на месте, в торговом доме, а кроме того, изволь терпеть тяготы
          дороги, думай о расписании поездов, мирись с плохим, нерегулярным питанием, завязывай.
        </p>
        <p>
          Закрыв глаза, чтобы не видеть своих барахтающихся ног, он проделал это добрую сотню раз и отказался от этих
          попыток только тогда, когда почувствовал какую-то неведомую дотоле, тупую и слабую боль в боку. Изо дня в
          день
          в разъездах. Деловых волнений куда больше, чем на месте, в торговом доме, а кроме того, изволь терпеть тяготы
          дороги, думай о расписании поездов, мирись с плохим, нерегулярным питанием, завязывай.
        </p>
      </div>
      <div class="hero-ask__button button_lg">
        <img src="img/arrow__down.svg" alt="arrow open" class="hero-ask__arrow">
      </div>
    </div>
    <div class="monitoring-slider">
      <h2 class="monitoring-slider__title title_md">Примеры внедрений</h2>
      <div class="monitoring-slider__content">
        <div class="js-monitoring-slider">
          <div class="js-col">
            <div class="monitoring__item">
              <img src="img/slide-mon1.png" alt="slide">
              <h3 class="monitoring-item__title title_xs">Перевозки для компании
                Global Oil Trands</h3>
            </div>
          </div>
          <div class="js-col">
            <div class="monitoring__item">
              <img src="img/slide-mon2.png" alt="slide">
              <h3 class="monitoring-item__title title_xs">Лизинг СТО</h3>
            </div>
          </div>
          <div class="js-col">
            <div class="monitoring__item">
              <img src="img/slide-mon3.png" alt="slide">
              <h3 class="monitoring-item__title title_xs">Безопасность для магазина
                обуви</h3>
            </div>
          </div>
          <div class="js-col">
            <div class="monitoring__item">
              <img src="img/slide-mon4.png" alt="slide">
              <h3 class="monitoring-item__title title_xs">Решение инкассации
                для Сбербанка</h3>
            </div>
          </div>
          <div class="js-col">
            <div class="monitoring__item">
              <img src="img/slide-mon2.png" alt="slide">
              <h3 class="monitoring-item__title title_xs">Лизинг СТО</h3>
            </div>
          </div>
          <div class="js-col">
            <div class="monitoring__item">
              <img src="img/slide-mon3.png" alt="slide">
              <h3 class="monitoring-item__title title_xs transition">Безопасность для магазина
                обуви</h3>
            </div>
          </div>
        </div>
        <div class="slider-arrows">
          <div class="prev"></div>
          <div class="next"></div>
        </div>
      </div>
      <button class="monitoring-slider__btn button_border-blue">Смотреть все решения</button>
    </div>
  </div>
</div>
