<div class="monitoring">
  <div class="monitoring-wrapper wrapper">
    <div class="monitoring__slider">
      <h2 class="monitoring__title title_md">Примеры внедрений</h2>
      <div class="monitoring__content">
        <div class="js-monitoring-slider">
          <div class="js-col">
            <div class="monitoring-item">
              <img class="monitoring-item__img" src="img/slide-mon1.png" alt="slide">
              <h3 class="monitoring-item__title title_xs">Перевозки для компании
                Global Oil Trands</h3>
            </div>
          </div>
          <div class="js-col">
            <div class="monitoring__item">
              <img src="img/slide-mon2.png" alt="slide">
              <h3 class="monitoring-item__title title_xs">Лизинг СТО</h3>
            </div>
          </div>
          <div class="js-col">
            <div class="monitoring__item">
              <img src="img/slide-mon3.png" alt="slide">
              <h3 class="monitoring-item__title title_xs">Безопасность для магазина
                обуви</h3>
            </div>
          </div>
          <div class="js-col">
            <div class="monitoring__item">
              <img src="img/slide-mon4.png" alt="slide">
              <h3 class="monitoring-item__title title_xs">Решение инкассации
                для Сбербанка</h3>
            </div>
          </div>
          <div class="js-col">
            <div class="monitoring__item">
              <img src="img/slide-mon2.png" alt="slide">
              <h3 class="monitoring-item__title title_xs">Лизинг СТО</h3>
            </div>
          </div>
          <div class="js-col">
            <div class="monitoring__item">
              <img src="img/slide-mon3.png" alt="slide">
              <h3 class="monitoring-item__title title_xs transition">Безопасность для магазина
                обуви</h3>
            </div>
          </div>
        </div>
        <div class="monitoring__arrows">
          <div class="monitoring__arrows_prev"></div>
          <div class="monitoring__arrows_next"></div>
        </div>
      </div>
      <button class="monitoring__btn button_border-blue">Смотреть все решения</button>
    </div>
  </div>
</div>
