<div class="container-wrapper">
    <div class="content-wrapper wrapper">
        <h2 class="company-title title_md">ГЛОСАВ осуществляет поставку оборудования для
            филиала ОАО «Федеральная сетевая компания» </h2>
      <div class="company-start">
        <div class="content-start-left">
          <img class="content-start-left__img" src="img/company.png" alt="img">
          <div class="content-start-left__desc">
            <p>Компания ГЛОСАВ признана победителем тендера на поставку и установку систем мониторинга транспорта с
              использованием оборудования ГЛОНАСС/GPS для филиала ОАО «Федеральная сетевая компания»(ФСК ЕЭС)
              «Магистральные
              электрические сети Центра»(МЭС Центра). Мониторинговое оборудование будет установлено на 890 транспортных
              средств в филиалах(ПМЭС) входящих В зону ответственности МЭС Центра: Валдайское, Верхне-Донское,
              Волго-Донское,
              Волго-Окское, Вологодское, Московское, Приокское и Черноземное.
            </p>
            <div class="content-start-features">
              <p>Каждое транспортное средство будет оборудовано:</p>
              <ul class="content-start-features-list">
                <li class="content-start-features-list__item">
                  полным навигационным комплексом ГЛОНАСС/GPS
                </li>
                <li class="content-start-features-list__item">
                  подключением дополнительного блока двусторонней голосовой связи
                </li>
                <li class="content-start-features-list__item">
                  техподдержкой круглосуточно
                </li>
                <li class="content-start-features-list__item">
                  тревожной кнопки информирования о чрезвычайном происшествии.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="content-start-right">
          <div><img class="content-start-right__img" src="img/company.png" alt="img"></div>
        </div>
      </div>
    </div>
  </div>
  