<div class="numbers number-wrapper">
<div class="content-wrapper wrapper">
    <h2 class="numbers__title title_md">В цифрах</h2>
  <div class="numbers-block">
    <div class="numbers-block__item">
      <div class="numbers-block__title">10</div>
      <div class="numbers-block__desc">лет верной и качественной работы</div>
    </div>
    <div class="numbers-block__item">
      <div class="numbers-block__title">50</div>
      <div class="numbers-block__desc">дипломированных специалистов, лучших в своем деле</div>
    </div>
    <div class="numbers-block__item">
      <div class="numbers-block__title">30</div>
      <div class="numbers-block__desc">партнеров по всему миру и в России</div>
    </div>
  </div>
</div>
</div>