<div class="number-wrapper">
<div class="content-wrapper wrapper">
    <h2 class="numbers-title title_md">В цифрах</h2>
  <div class="numbers">
    <div class="numbers-item">
      <div class="numbers-item__title">10</div>
      <div class="numbers-item__desc">лет верной и качественной работы</div>
    </div>
    <div class="numbers-item">
      <div class="numbers-item__title">50</div>
      <div class="numbers-item__desc">дипломированных специалистов, лучших в своем деле</div>
    </div>
    <div class="numbers-item">
      <div class="numbers-item__title">30</div>
      <div class="numbers-item__desc">партнеров по всему миру и в России</div>
    </div>
  </div>
</div>
</div>