<div class="container-wrapper">
    <div class="content-wrapper wrapper">
      <div class="text-help">
        <p class="text-help__desc">
            По словам экспертов, глобальные системы навигации можно использовать при
            осуществлении автоматизированной дозаправки самолетов в воздухе. При
            этом может осуществляться поиск самолета-заправщика тем лайнерам,
            которые нуждаются в дозаправке, выход в эшелон, а также сближение
            самолетов. Использование технологий ГЛОНАСС поможет своевременно
            реагировать на экстренные ситуации, в которых требуется срочная
            дозаправка самолетов.
          </p>
        <div class="text-help__video">
          <iframe
            width="730"
            height="411"
            src="https://www.youtube.com/embed/M0LrpJ8z6S0"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>

      </div>
    </div>
  </div>
  