/* footer */
footer
    height: 10vh

.footer-block
    justify-content: space-between
    opacity: 0.8
    color: #3e7390
    font-family: "Gotham Pro"
    font-size: 14px
    font-weight: 400
    padding: 30px 0


.footer-block span:hover
    opacity: 0.5
    cursor: pointer
.address
    display: flex
    &__item
        margin-right: 40px
        position: relative
        display: flex
        align-items: center

.address__item:last-child
    margin-right: 0

