/* footer */
.footer-wrapper
    padding: 0 20px
    height: 10vh
    +md
        height: auto

.footer
    justify-content: space-between
    align-items: center
    opacity: 0.8
    color: #3e7390
    font-family: "GothamPro"
    font-size: 14px
    font-weight: 400
    padding: 30px 0 0 0
    +md
        padding: 0 0 10px 0
        flex-direction: column-reverse
        font-size: 13px
        align-items: flex-start
    &__copy
        padding-right: 30px

.address
    display: flex
    +md
        flex-direction: column-reverse
    &__item
        margin-right: 60px
        position: relative
        display: flex
        align-items: center
        cursor: pointer
        font-size: 14px
        +md
            margin-right: 0
            margin-bottom: 5px
            font-size: 13px
        &:last-child
            margin-right: 0
    &__item
        &:hover span
            opacity: 0.5
    &__ico_map:hover:before
        content: ""
        background-image: url(../img/addres-footer.png) 
        background-position: -42px 0px
    &__ico_email:hover:before
        content: ""
        background-image: url(../img/email-footer.png) 
        background-position: -45px 0px
    &__ico_phone:hover:before
        content: ""
        background-image: url(../img/phone-footer.png) 
        background-position: -29px 0px
    &__ico_map:before
        content: ""
        background-image: url(../img/addres-footer.png) 
        width: 25px
        height: 38px
        background-position: -8px 0px
    &__ico_email:before
        content: ""
        background-image: url(../img/email-footer.png) 
        width: 30px
        height: 35px
        background-position: -8px 0px
    &__ico_phone:before
        content: ""
        background-image: url(../img/phone-footer.png) 
        width: 28px
        height: 27px
        background-position: -3px 0
