.header
    font-family: 'GothamPro'
    height: 10vh
    display: flex
    flex-direction: column
    padding-top: 22px
    margin: 0 20px
    +md
        padding-top: 10px
        margin-bottom: 0

.logo__img_md
    display: none

.logo__img_lg
    +md
        display: none

.logo__img_md
    +md
        display: block

.header-inner
    display: flex
    width: 100%
    flex-direction: column

.header-wrapper
    width: 100%
    margin-bottom: 20px
    +md
        margin-bottom: 15px

.menu
    display: flex
    justify-content: flex-end
    margin-left: 70px
    +md
        margin-left: 50px
    &__item a
        color: #396f8c
        font-size: 14px
        font-weight: 500
        text-transform: uppercase
        letter-spacing: 0.56px
        text-decoration: none
        transition: 0.3s
        +md
            font-size: 13px

.menu__item a
    margin-right: 38px
    +md
        margin-right: 30px
        margin-bottom: 15px

.menu__item a:last-child
    margin-right: 0
    +md
        margin-bottom: 0

.menu__item a:hover
    color: #f58220

.header-right
    display: flex
    justify-content: flex-end
    align-items: center
    margin-bottom: 10px
    margin-top: 5px
.lang
    position: relative
    color: #396f8c
    font-size: 14px
    font-weight: 400
    letter-spacing: 0.28px

.lang__current
    border-bottom: 1px dotted #9ab5c6
    display: block
    line-height: 12px
    cursor: pointer

.lang-btn
    display: flex
    align-items: center
    justify-content: center
    width: 50px
    cursor: pointer

.lang-btn:hover .arrow
    border-top-color: #f58220

.arrow
    margin-left: 2px
 
.rotate
    transform: rotate(180deg)

.arrow
    width: 0
    height: 0
    border: 5px solid transparent
    border-top-color: #396f8c
    opacity: 0.7
    border-bottom: 0
    transition: 0.1s


.lang-list
    position: absolute
    top: 100%
    left: 0
    display: none
    text-align: center
    width: 40px
    flex-direction: column
    background-color: #eaeff2
    transition: 0.5s
    &__item
        padding: 5px
        font-size: 14px

.lang__link
    text-decoration: none
    color: #396f8c

.lang__link:hover
    color: #f58220

.sign-in-btn
    opacity: 0.8
    color: #396f8c
    font-size: 14px
    font-weight: 400
    letter-spacing: 0.7px
    cursor: pointer
    transition: 0.3s

.sign-in-btn:hover
    color: #2e5b72
    opacity: 1

.header-right
    +md
        display: none
.header-right > div
    margin-right: 40px
.header-right >div:last-child
    margin-right: 0

.find-block
    display: flex
    position: relative

.find-block__input
    width: 250px
    padding: 7px 27px 7px 4px
    background-color: #cadae3
    position: absolute
    left: -251px
    top: -13px

.find-arrow
    background-image: url(/img/find.png)
    background-repeat: no-repeat
    display: block
    cursor: pointer

.sprite-find 
    width: 17px
    height: 17px
    background-position: -5px -5px
    position: absolute
    width: 17px
    height: 17px
    right: 7px
    top: 50%
    transform: translateY(-50%)

.sprite-find:hover
    background-position: -32px -5px


// .header-nav
//     +md
//         display: none

.menu-icon
    display: none
    width: 33px
    height: 30px
    position: relative
    cursor: pointer
    transform: translateY(20%)
    +md
        display: inline-block

.menu__item
    +md
        position: absolute
        display: none
        top: 0
        right: 0
        left: 0
        margin-top: 52px
        padding: 12px
        background-color: #ffffff
        z-index: 1000
        overflow: auto


.menu-icon span
    display: block
    position: absolute
    height: 3px
    width: 100%
    background-color: #396f8c
    opacity: 1
    left: 0
    transform: rotate(0deg)
    transition: 0.4s

.menu-icon span:nth-child(1)
    top: 0px

.menu-icon span:nth-child(2), .menu-icon span:nth-child(3)
    top: 13px

.menu-icon span:nth-child(4)
    top: 26px

.menu.menu_stage_open .menu-icon span:nth-child(1) 
    top: 18px
    width: 0%
    left: 50%


.menu.menu_stage_open .menu-icon span:nth-child(2) 
    transform: rotate(45deg)


.menu.menu_stage_open .menu-icon span:nth-child(3) 
    transform: rotate(-45deg)


.menu.menu_stage_open .menu-icon span:nth-child(4) 
    top: 18px
    width: 0%
    left: 50%


.menu.menu_stage_open .menu__item
    +md
        display: block

.menu.menu_stage_open .menu__item a
    +md
        display: block

.menu__item a
    +md 
        display: none