.header
    font-family: 'GothamPro'
    min-height: 100vh
    display: flex
    flex-direction: column

.header
    padding-top: 22px
    background: linear-gradient(to bottom, rgba(194,209,218,1) 0%,rgba(194,209,218,0.12) 52%,rgba(194,209,218,1) 100%)
.logo
    display: block
    &__img img
        display: block

.header-inner
    display: flex
    width: 100%
    flex-direction: column

.header-wrapper
    width: 100%
    margin-bottom: 20px

.menu
    display: flex
    justify-content: flex-end
    margin-left: 70px
    &__item a
        color: #396f8c
        font-size: 14px
        font-weight: 500
        text-transform: uppercase
        letter-spacing: 0.56px
        text-decoration: none

.menu__item
    margin-right: 38px

.menu__item:last-child
    margin-right: 0

.menu__item a:hover
    color: #f58220

.header-right
    display: flex
    justify-content: flex-end
    align-items: center
    margin-bottom: 10px
    margin-top: 5px
.lang
    position: relative
    color: #396f8c
    font-size: 14px
    font-weight: 400
    letter-spacing: 0.28px

.lang__current
    border-bottom: 1px dotted #9ab5c6
    display: block
    line-height: 12px

.lang-btn
    display: flex
    align-items: center
    align-items: center
    margin-left: 10px
    width: 30px

.arrow
    margin-left: 2px
.rotate
    transform: rotate(180deg)

.arrow
    width: 0
    height: 0
    border: 5px solid transparent
    border-top-color: #396f8c
    opacity: 0.7
    border-bottom: 0

.arrow:hover
    border-top-color: #f58220

.lang-list
    position: absolute
    top: 100%
    left: 0
    display: none
    flex-direction: column
    align-items: flex-start
    background-color: #eaeff2
    &__item
        padding: 10px
        font-size: 14px

.lang__link
    text-decoration: none
    color: #396f8c

.lang__link:hover
    color: #f58220

.sign-in-btn
    opacity: 0.8
    color: #396f8c
    font-size: 14px
    font-weight: 400
    letter-spacing: 0.7px

.sign-in-btn:hover
    color: #2e5b72
    opacity: 1

.header-right > div
    margin-right: 40px
.header-right >div:last-child
    margin-right: 0

.find-block
    display: flex
    position: relative

.find-block__input
    width: 250px
    padding: 7px 27px 7px 4px
    background-color: #cadae3
    position: absolute
    left: -251px
    top: -13px

.find-arrow
    background-image: url(/img/find.png)
    background-repeat: no-repeat
    display: block


.sprite-find 
    width: 17px
    height: 17px
    background-position: -5px -5px
    position: absolute
    width: 17px
    height: 17px
    right: 7px
    top: 50%
    transform: translateY(-50%)

.sprite-find:hover
    background-position: -32px -5px

.yura
    display: none

.modal
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 1042px
    height: 587px
    max-width: 100%
    max-height: 100%
    z-index: 1010
    display: none

.modal-guts
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.closed
    display: flex

.modal .close-button 
    position: absolute
    z-index: 1
    top: 10px
    top: 0px
    right: -110px

.range
    display: flex
    align-items: center
    justify-content: center

.range__input
    -webkit-appearance: none
    position: relative
    height: 1px
    width: 125px
    background-color: transparent

.range__input:before
    content: url(../img/border-range.png)
    position: absolute
    right: 18px
    top: -11px
.range__input::after
    content: url(../img/slide-range2.png)
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: 3px

.range__input::-webkit-slider-thumb
    -webkit-appearance: none
    appearance: none
    width: 38px
    height: 38px
    border: 0
    background: url('../../img/slide-range.png')
    cursor: pointer
    position: relative
    z-index: 1

.range__text
    padding: 0 10px
    color: #396f8c
    font-size: 12px
    font-weight: 500
    letter-spacing: 0.48px

.close-button
    background-image: url(../img/close-btn.png)
    background-repeat: no-repeat
    display: block
    background-color: transparent

.close-button:before
    content: url(../img/close.svg)
    position: absolute
    transform: translate(-50%, -50%)
    top: 50%
    left: 50%

.button-sprite
    width: 64px
    height: 64px
    background-position: -5px -5px


.button-sprite:hover
    width: 64px
    height: 64px
    background-position: -79px -5px


.video
    position: relative

.video-btn
    content: url(../img/play-btn.png)
    color: #fff
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    cursor: pointer
    z-index: 4
    +sm
        width: 60px
        height: 60px
    +sm:hover
        background-color: black

.video video::-webkit-media-controls-panel
    display: none

.video-wrapper
    max-width: 1042px
    height: 542px
    margin: 0 10px

.video video
    width: 100%
    height: 100%
    border-radius: 8px
    position: relative
    z-index: 3

/* footer */
.footer-bg

.footer-block
    justify-content: space-between
    opacity: 0.8
    color: #3e7390
    font-family: "Gotham Pro"
    font-size: 14px
    font-weight: 400
    padding: 30px 0


.footer-block span:hover
    opacity: 0.5
    cursor: pointer
.address
    display: flex
    &__item
        margin-right: 40px
        position: relative
        display: flex
        align-items: center

.address__item:last-child
    margin-right: 0

.content
    flex: 1 0 auto

footer
    flex 0 0 auto


