.content
    min-height: 80vh
    overflow: hidden
    position: relative
    font-family: 'GothamPro'
.yura
    display: none

.hero-wrapper
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
.modal
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 1042px
    height: 587px
    max-width: 100%
    max-height: 100%
    z-index: 1010
    display: none

.modal-guts
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.closed
    display: flex

.modal .close-button 
    position: absolute
    z-index: 1
    top: 10px
    top: 0px
    right: -110px

.range
    display: flex
    align-items: center
    justify-content: center

.range__input
    -webkit-appearance: none
    position: relative
    height: 1px
    width: 125px
    background-color: transparent

.range__input:before
    content: url(../img/border-range.png)
    position: absolute
    right: 18px
    top: -11px
.range__input::after
    content: url(../img/slide-range2.png)
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: 3px

.range__input::-webkit-slider-thumb
    -webkit-appearance: none
    appearance: none
    width: 38px
    height: 38px
    border: 0
    background: url('../../img/slide-range.png')
    cursor: pointer
    position: relative
    z-index: 1

.range__text
    padding: 0 10px
    color: #396f8c
    font-size: 12px
    font-weight: 500
    letter-spacing: 0.48px

.close-button
    background-image: url(../img/close-btn.png)
    background-repeat: no-repeat
    display: block
    background-color: transparent

.close-button:before
    content: url(../img/close.svg)
    position: absolute
    transform: translate(-50%, -50%)
    top: 50%
    left: 50%

.button-sprite
    width: 64px
    height: 64px
    background-position: -5px -5px


.button-sprite:hover
    width: 64px
    height: 64px
    background-position: -79px -5px


.video
    position: relative

.video-btn
    content: url(../img/play-btn.png)
    color: #fff
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    cursor: pointer
    z-index: 4
    +sm
        width: 60px
        height: 60px
    +sm:hover
        background-color: black

.video video::-webkit-media-controls-panel
    display: none

.video-wrap
    padding-top: 20px
.video video
    width: 100%
    height: 100%
    border-radius: 8px
    position: relative
    z-index: 3

.slider-wrapper
    margin-top: 200px

.item img
    // width: 360px
    // margin: 0 auto
    border: 2px solid #53788b
    padding: 10px
    box-sizing: border-box
    border-radius: 50%
    transition: 0.5s

.slider__img:hover
    border: 2px solid transparent
    box-sizing: border-box

.blur
    box-sizing: border-box
    filter: blur(2px)
    transition: 0.5s


.help
    position: relative
    width: 560px
    padding: 0 90px

.slider-img
    position: relative
    transition: 0.5s
.slider-img:before
    content: url(../img/border-line-top.svg)
    position: absolute
    top: 50%;
    left: 50%;
    transform: translate(-41%,-47%);
    visibility: hidden
    opacity: 0
    transition: 0.5s
    // z-index: -1

.slider-img:after
    content: url(../img/border-line-bottom.svg)
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-54%,45%)
    visibility: hidden
    transition: 0.5s
    opacity: 0
    // z-index: -1

.slider-img:hover:before
    content: url(../img/border-line-top.svg)
    visibility: visible
    opacity: 1
    transition: 0.5s
    // z-index: -1

.slider-img:hover:after
    content: url(../img/border-line-bottom.svg)
    visibility: visible
    transition: 0.5s
    opacity: 1
    // z-index: -1

.slider__img
    cursor: pointer

.slider
    max-width: 460px 
    margin: 0 auto
    .owl-stage-outer
        overflow: visible

.transiton
    transition: 0.5s

.slider__title
    padding-top: 45px
    text-align: center
    color: #396f8c
    font-size: 20px
    font-weight: 500
    text-transform: uppercase
    letter-spacing: 0.8px
    transition: 0.5s
.orange
    color: orange
// .help__desc
//     display: none


