<div class="container-wrapper">
  <div class="content-wrapper wrapper">
    <div class="text-help">
      <h2 class="text-help__title title_md">Система ГЛОНАСС может помочь</h2>
      <p class="text-help__desc">
        ОАО «Федеральная сетевая компания»(ФСК ЕЭС) входит в перечень
        системообразующих организаций РФ. ФСК ЕЭС занимает первое место в мире
        по протяженности линий электропередачи (132,3 тыс. км) и
        трансформаторной мощности (332,5 тыс. МВА) среди публичных
        электросетевых компаний. В компании работают более 23 тысяч человек.
      </p>
      <div class="text-help__video">
        <iframe
          width="730"
          height="411"
          src="https://www.youtube.com/embed/M0LrpJ8z6S0"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <p class="text-help__desc">
        По словам экспертов, глобальные системы навигации можно использовать при
        осуществлении автоматизированной дозаправки самолетов в воздухе. При
        этом может осуществляться поиск самолета-заправщика тем лайнерам,
        которые нуждаются в дозаправке, выход в эшелон, а также сближение
        самолетов. Использование технологий ГЛОНАСС поможет своевременно
        реагировать на экстренные ситуации, в которых требуется срочная
        дозаправка самолетов.
      </p>
      <div class="text-help__desc">
        <blockquote class="text-help__quote">
          <p>
            Напомним, что Huawei Technologies Co. Ltd. одна из крупнейших
            китайских компаний в сфере телекоммуникаций. Основана Жэнем Чжэнфэем
            в 1987 году. Основным видом деятельности является производство и
            продажа оборудования беспроводных сетей, сетевых устройств,
            приложений и аппаратного обеспечения для мобильной связи.
          </p>
        </blockquote>
      </div>
      <p class="text-help__desc">
        На сегодняшний день офисы компании открыты в 11 городах России — Москве,
        Санкт - Петербурге , Нижнем Новгороде , Самаре, Казани, Уфе,
        Ростове-на-Дону, Краснодаре, Екатеринбурге, Новосибирске, Владивостоке.
        Компания принимает активное участие в работе крупнейших отраслевых
        ассоциаций, в конференциях и отраслевых выставках на территории стран
        СНГ. Активно работает российский Научно-исследовательский центр компании
        Huawei.
      </p>
    </div>
  </div>
</div>
