.form-request-bg
    background-color: #dee6eb
    border-top: 4px solid #ee8a00
    padding: 60px 0

.form-request-wrapper
    max-width: 1124px

.form-request
    display: flex
    +md
        flex-direction: column-reverse
    
.form
    &__select
        position: relative
    & form
        width: 100%
.select2-search
    display: none

.select2-selection 
    display: block

.select2-selection__rendered
    display: block
    width: 100%