
.monitoring
    font-family: "GothamPro"
    height: 277px
    padding-top: 30px

.bg-monitoring
    background-image: url(../img/monitoring-header.png)
    position: absolute
    width: 100%
    height: 500px
    background-repeat: no-repeat
    top: 0
    background-size: cover
    background-position: 50% 50%
.bg-gradient
    position: absolute
    width: 100%
    top: 0
    height: 450px
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 8%, rgba(255,255,255,0) 100%)

.monitoring-wrapper
    max-width: 1124px
    position:  relative

.breadcrumbs
    display: flex
    &__item
        color: #7fa4bc
        font-size: 12px
        letter-spacing: 0.6px
        margin-right: 22px
        position: relative
        cursor: pointer
        transition: 0.3s
    &__item a
        color: #2e5b72
        font-size: 12px
        text-decoration: underline

.breadcrumbs__item a:hover
    color: #ee8a00
    text-decoration: none

.breadcrumbs__item:not(:first-child):before
    content: ""
    position: absolute
    top: 50%
    left: -15px
    transform: translate(50%, -50%)
    border-radius: 50%
    width: 4px
    height: 4px
    background-color: #95bed5

.breadcrumbs__item span:before
    content: ""
    position: absolute
    top: 50%
    left: -15px
    transform: translate(50%, -50%)
    border-radius: 50%
    width: 4px
    height: 4px
    background-color: #95bed5

.breadcrumbs__item:hover
    color: #ee8a00

.breadcrumbs__item span:before:hover
    color: #ee8a00

.bg-monitoring img
    // background-image: url(../img/monitoring-header.png)
    position: absolute
    width: 100%
    object-fit: cover
    height: 450px
    top: 0
    z-index: -1

.monitoring-grad
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 8%, rgba(255,255,255,0) 100%)