.monitoring
    height: 277px
    +md
        background-color: #eaeff2
        height: auto
        padding: 18px 20px 35px 20px
    &__title
        // padding-top: 30px

.monitoring-wrapper
    max-width: 1124px
    position:  relative
    // display: flex
    // height: 100%
    // align-items: center