.partners
    background-color: #eaeff2
    padding: 0 20px
    padding-bottom: 50px
    &__title
        margin-bottom: 32px
    &__row
        display: flex
        flex-wrap: wrap
        justify-content: center
    &__item
        &:first-child
            margin-bottom: 12px
    &__icon
        width: 224px
        height: 101px
        position: relative
        margin: 0 auto
        cursor: pointer
        &::after
            content: ""
            background-image: url(/img/partners-sprite1.png)
            position: absolute
    &__icon_sberbank
        &::after
            width: 179px
            height: 39px
            background-position: -5px -5px
            top: 50%
            transform: translateY(-50%)
            left: 0
            right: 0
            margin: 0 auto
        &:hover::after
            background-position: -194px -5px
    &__icon_huawei
        &::after
            width: 74px
            height: 74px
            background-position: -383px -5px
            top: 50%
            transform: translateY(-50%)
            left: 0
            right: 0
            margin: 0 auto
        &:hover::after
            background-position: -467px -5px
    &__icon_gazprom
        &::after
            width: 130px
            height: 62px
            background-position: -551px -5px
            top: 50%
            transform: translateY(-50%)
            left: 0
            right: 0
            margin: 0 auto
        &:hover::after
            background-position: -691px -5px
    &__icon_dell
        &::after
            width: 77px
            height: 77px
            background-position: -831px -5px
            top: 50%
            transform: translateY(-50%)
            left: 0
            right: 0
            margin: 0 auto
        &:hover::after
            background-position: -918px -5px
    &__icon_alphabank
        &::after
            width: 157px
            height: 46px
            background-position: -1005px -5px
            top: 50%
            transform: translateY(-50%)
            left: 0
            right: 0
            margin: 0 auto
        &:hover::after
            background-position: -1172px -5px
    &__icon_google
        &::after
            width: 128px
            height: 42px
            background-position: -1339px -5px
            top: 50%
            transform: translateY(-50%)
            left: 0
            right: 0
            margin: 0 auto
        &:hover::after
            background-position: -1477px -5px
    &__icon_skbbank
        &::after
            width: 163px
            height: 38px
            background-position: -1615px -5px
            top: 50%
            transform: translateY(-50%)
            left: 0
            right: 0
            margin: 0 auto
        &:hover::after
            background-position: -1788px -5px
    &__icon_apple
        &::after
            width: 56px
            height: 68px
            background-position: -1961px -5px
            top: 50%
            transform: translateY(-50%)
            left: 0
            right: 0
            margin: 0 auto
        &:hover::after
            background-position: -2027px -5px
    &__icon_mts
        &::after
            width: 119px
            height: 43px
            background-position: -2093px -5px
            top: 50%
            transform: translateY(-50%)
            left: 0
            right: 0
            margin: 0 auto
        &:hover::after
            background-position: -2222px -5px
    &__icon_intel
        &::after
            width: 108px
            height: 72px
            background-position: -2351px -5px
            top: 50%
            transform: translateY(-50%)
            left: 0
            right: 0
            margin: 0 auto
        &:hover::after
            background-position: -2469px -5px