// .slick-next
//     position: absolute
//     right: 0
//     display: block
//     background-image: url(../img/slider-right.png)
//     background-repeat: no-repeat
//     width: 100px
//     height: 20px


.slick-next:before
    content: ""
    position: absolute
    


.sprite-Shape_4_copy_6
    width: 60px
    height: 9px
    background-position: -5px -5px

.sprite-Shape_4_copy_6-_1_
    width: 60px
    height: 9px
    background-position: -75px -5px