<div class="contact-section">
  <div class="content-wrapper wrapper">
    <h2 class="contact-section__title title_md">Отдел маркетинга и PR</h2>
    <div class="contact">
      <div class="contact__item">
        <h3 class="contact_title">Телефоны:</h3>
        <span>+7 (495) 644 33 59;</span>
        <span>+7 (800) 200 33 59, доб. 2</span>
      </div>
      <div class="contact__item">
        <h3 class="contact_title">E-mail:</h3>
        <span>commerce@glosav.ru</span>
      </div>
      <div class="contact__item">
        <h3 class="contact_title">График работы:</h3>
        <span>Пн.-Пт.: с 10:00 до 19:00</span>
      </div>
    </div>
  </div>
</div>
<div class="contact-section">
  <div class="content-wrapper wrapper">
    <h2 class="contact-section__title title_md">Отдел кадров</h2>
    <div class="contact">
      <div class="contact__item">
        <h3 class="contact_title">Телефоны:</h3>
        <span>+7 (495) 644 33 59;</span>
      </div>
      <div class="contact__item">
        <h3 class="contact_title">E-mail:</h3>
        <span>commerce@glosav.ru</span>
      </div>
      <div class="contact__item">
        <h3 class="contact_title">График работы:</h3>
        <span>Пн.-Пт.: с 10:00 до 19:00</span>
      </div>
    </div>
  </div>
</div>
<div class="contact-section">
  <div class="content-wrapper wrapper">
    <h2 class="contact-section__title title_md">Отдел продаж</h2>
    <div class="contact">
      <div class="contact__item">
        <h3 class="contact_title">Телефоны:</h3>
        <span>+7 (495) 644 33 59;</span>
        <span>+7 (800) 200 33 59, доб. 2</span>
        <span>+7 (495) 644 33 58</span>
      </div>
      <div class="contact__item">
        <h3 class="contact_title">E-mail:</h3>
        <span>commerce@glosav.ru</span>
      </div>
      <div class="contact__item">
        <h3 class="contact_title">График работы:</h3>
        <span>Пн.-Пт.: с 10:00 до 19:00</span>
      </div>
    </div>
  </div>
</div>
<div class="contact-section">
  <div class="content-wrapper wrapper">
    <h2 class="contact-section__title title_md">Техническая поддержка</h2>
    <div class="contact">
      <div class="contact__item">
        <h3 class="contact_title">Телефоны:</h3>
        <span>+7 (495) 644 33 59;</span>
        <span>+7 (800) 200 33 59, доб. 2</span>
      </div>
      <div class="contact__item">
        <h3 class="contact_title">E-mail:</h3>
        <span>commerce@glosav.ru</span>
      </div>
      <div class="contact__item">
        <h3 class="contact_title">График работы:</h3>
        <span>Пн.-Пт.: с 10:00 до 19:00</span>
      </div>
    </div>
  </div>
</div>
