<div class="contact">
  {{
    mixins.herobg({
      title: ["Контакты"],
      list: ["Главная", "Контакты"]
    })
  }}
  <div class="content-wrapper wrapper">
    <div class="contact__info">
      <div class="contact__item">
        <div class="contact__title">Адрес:</div>
        <div>
          115114, Московская область, г. Москва, Кожевнический проезд, д. 1
        </div>
        <div>Схема проезда</div>
      </div>
      <div class="contact__item">
        <div class="contact__title">Многоканальний:</div>
        <div>
          +7 (495) 644 33 59
        </div>
      </div>
    </div>
  </div>
</div>
