<div class="content-wrapper wrapper">
  <div class="products-items">
    <div class="items-wrapper">
      <div class="products-block products-block_bg-one">
        <h2 class="products-block__title title_md">
          Мониторинг и тахография
        </h2>
      </div>
    </div>
    <div class="items-wrapper">
      <div class="products-block products-block_bg-two">
        <h2 class="products-block__title title_md">
          Системная интеграция
        </h2>
      </div>
    </div>
    <div class="items-wrapper">
      <div class="products-block products-block_bg-one">
        <h2 class="products-block__title title_md">
          Мониторинг и тахография
        </h2>
      </div>
    </div>
    <div class="items-wrapper">
      <div class="products-block products-block_bg-one">
        <h2 class="products-block__title title_md">
          Мониторинг и тахография
        </h2>
      </div>
    </div>
  </div>
</div>
