<div class="content-wrapper wrapper">
  <div class="products-items">
    <div class="items-wrapper">
      {{
        mixins.product({
        title: ["Мониторинг и тахография"],
        img: 'product1.png'
        })
        }}
    </div>
    <div class="items-wrapper">
      {{
        mixins.product({
        title: ["Системная интеграция"],
        img: 'product2.png'
        })
        }}
    </div>
    <div class="items-wrapper">
      {{
        mixins.product({
        title: ["ИТС"],
        img: 'product3.png'
        })
        }}
    </div>
    <div class="items-wrapper">
      {{
        mixins.product({
        title: ["Разработка ПО"],
        img: 'product4.png'
        })
        }}
    </div>
  </div>
</div>
