<div class="news">
  <div class="news-wrapper wrapper">
    <div class="news-flex">
      <div class="col-3 col-sm-4 col-xs-12">
        <div class="news-flex__item ">
          <div>
            <img class="news-flex__img" src="img/news1.png" alt="news" />
            <h2 class="news-flex__title title_xs">
              Компания «ГЛОСАВ» стала единственным агентом по подключению к ГАИС «ЭРА-ГЛОНАСС» перевозчиков ...
            </h2>
          </div>
          <div class="news-flex__desc">
            <button class="news-flex__btn">Подробнее</button>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-xs-12">
        <div class="news-flex__item item-relative">
          <div class="cover">
            <img class="news-flex__img" src="img/news2.png" alt="news" />
          </div>
          <div class="news-flex__desc item-absolute">
            <h2 class="news-flex__title title_xs">
              «ГЛОСАВ» осуществил поставку и монтаж оборудования Huawei для ООО «ОССП»
            </h2>

          </div>
          <button class="news-flex__btn">Подробнее</button>
        </div>
      </div>
      <div class="col-3 col-sm-4 col-xs-12">
        <div class="news-flex__item ">
          <div>
            <img class="news-flex__img" src="img/news3.png" alt="news" />
            <h2 class="news-flex__title title_xs">
              "ГЛОСАВ" осуществил поставку оборудования Huawei для нужд ООО «Стройгазмонтаж»
            </h2>
          </div>
          <div class="news-flex__desc">
            <button class="news-flex__btn">Подробнее</button>
          </div>
        </div>
      </div>
      <div class="col-3 col-sm-4 col-xs-12">
        <div class="news-flex__item ">
          <div>
            <img class="news-flex__img" src="img/news4.png" alt="news" />
            <h2 class="news-flex__title title_xs">
              Компания «ГЛОСАВ» стала единственным агентом по подключению к ГАИС «ЭРА-ГЛОНАСС» перевозчиков ...
            </h2>
          </div>
          <div class="news-flex__desc">
            <button class="news-flex__btn">Подробнее</button>
          </div>
        </div>
      </div>
      <div class="col-3 col-sm-4 col-xs-12">
        <div class="news-flex__item ">
          <div>
            <img class="news-flex__img" src="img/news5.png" alt="news" />
            <h2 class="news-flex__title title_xs">
              Повышение надежности системы мониторинга спутниковой навигации ГЛОНАСС для нужд ГУ ТО «Тулаавтодор»
            </h2>
          </div>
          <div class="news-flex__desc">
            <button class="news-flex__btn">Подробнее</button>
          </div>
        </div>
      </div>
      <div class="col-3 col-sm-4 col-xs-12">
        <div class="news-flex__item item-relative">
          <div class="cover">
            <img class="news-flex__img" src="img/news6.png" alt="news" />
          </div>
          <div class="news-flex__desc item-absolute">
            <h2 class="news-flex__title title_xs">
              «ГЛОСАВ» осуществил поставку тахографов для ОАО «РЖД»
            </h2>
            <button class="news-flex__btn">Подробнее</button>
          </div>
        </div>
      </div>
      <div class="col-3 col-sm-4 col-xs-12">
        <div class="news-flex__item ">
          <div>
            <img class="news-flex__img" src="img/news7.png" alt="news" />
            <h2 class="news-flex__title title_xs">
              Развитие системы мониторинга АО «ТК РусГидро»
            </h2>
          </div>
          <div class="news-flex__desc">
            <button class="news-flex__btn">Подробнее</button>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-4 col-xs-12">
        <div class="news-flex__item item-relative">
          <div>
            <img class="news-flex__img" src="img/news2.png" alt="news" />
          </div>
          <div class="news-flex__desc item-absolute">
            <h2 class="news-flex__title title_xs">
              «ГЛОСАВ» осуществил поставку и монтаж оборудования Huawei для ООО «ОССП»
            </h2>
          </div>
          <button class="news-flex__btn">Подробнее</button>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-xs-12">
        <div class="small-news">
          <div class="small-news__item news-flex__item ">
            <img src="img/news8.png" alt="news">
            <div>
              <h2 class="news-flex__title title_xs">"ГЛОСАВ" осуществил поставку тахографов и услуг компании
                "МРСК-Центра"</h2>
              <button class="news-flex__btn">Подробнее</button>
            </div>
          </div>
          <div class="small-news__item news-flex__item">
            <img src="img/news9.png" alt="news">
            <div>
              <h2 class="news-flex__title title_xs">"ГЛОСАВ" осуществил поставку тахографов и услуг компании
                "МРСК-Центра"</h2>
              <button class="news-flex__btn">Подробнее</button>
            </div>
          </div>
          <div class="small-news__item news-flex__item">
            <img src="img/news10.png" alt="news">
            <div>
              <h2 class="news-flex__title title_xs">"ГЛОСАВ" осуществил поставку тахографов и услуг компании
                "МРСК-Центра"</h2>
              <button class="news-flex__btn">Подробнее</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 col-sm-4 col-xs-12">
        <div class="news-flex__item ">
          <div>
            <img class="news-flex__img" src="img/news11.png" alt="news" />
            <h2 class="news-flex__title title_xs">
              Компания «ГЛОСАВ» стала единственным агентом по подключению к ГАИС «ЭРА-ГЛОНАСС» перевозчиков ...
            </h2>
          </div>
          <div class="news-flex__desc">
            <button class="news-flex__btn">Подробнее</button>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-xs-12">
        <div class="news-flex__item item-relative">
          <div class="cover">
            <img class="news-flex__img" src="img/news12.png" alt="news" />
          </div>
          <div class="news-flex__desc item-absolute">
            <h2 class="news-flex__title title_xs">
              «ГЛОСАВ» осуществил поставку и монтаж оборудования Huawei для ООО «ОССП»
            </h2>
          </div>
          <button class="news-flex__btn">Подробнее</button>
        </div>
      </div>
      <div class="col-3 col-sm-4 col-xs-12">
        <div class="news-flex__item ">
          <div>
            <img class="news-flex__img" src="img/news13.png" alt="news" />
            <h2 class="news-flex__title title_xs">
              "ГЛОСАВ" осуществил поставку оборудования Huawei для нужд ООО «Стройгазмонтаж»
            </h2>
          </div>
          <div class="news-flex__desc">
            <button class="news-flex__btn">Подробнее</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>